<template>
  <div>
    <div>
      <div class="absolute-center q-pa-md" style="max-width:400px;width:100%;">
        <div class="row bg-blue-grey-14 rounded-borders shadow-10">
          <div class="col-12 q-pa-md" align="center">
            <span class="text-h4 text-white">Money Tickets</span>
          </div>
          <!-- <div class="col-12 q-px-md q-py-sm q-pt-md bg-grey-2">
            <q-input bg-color="white" label="ชื่อผู้ใช้งาน" outlined />
          </div>
          <div class="col-12 q-px-md q-py-sm bg-grey-2">
            <q-input bg-color="white" label="รหัสผ่าน" outlined />
          </div>-->
          <div class="col-12 q-px-md q-pb-md q-py-md bg-grey-2" align="center">
            <q-btn
              color="primary"
              text-color="white"
              label="เข้าสู่ระบบ"
              style="width:120px;"
              @click="loginBtn()"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    loginBtn() {
      this.$router.push("/ticket/add");
    }
  }
};
</script>