<template>
  <div>
    <div class="row q-pa-md-md">
      <div class="col-md-12 col-xs-12 q-pb-xs-md">
        <q-table
          title="ข้อมูลเก่า"
          :data="dataTicketsList"
          :columns="columns"
          :pagination.sync="paginations"
          row-key="name"
          separator="cell"
          square
          :loading="isLoading"
        >
          <template v-slot:top>
            <div class="row full-width">
              <div class="col-6">
                <span class="text-h5">สำรองข้อมูล</span>
              </div>
              <div class="col-6" align="right">
                <q-btn
                  class="q-mx-md"
                  push
                  color="secondary"
                  round
                  @click="restoreBtn()"
                  :disable="dataTicketsList.length == 0"
                >
                  <span class="text-h6">
                    <span class="fas fa-undo-alt"></span>
                  </span>
                </q-btn>
                <q-btn
                  push
                  color="negative"
                  round
                  @click="deleteBtn()"
                  :disable="dataTicketsList.length == 0"
                >
                  <span class="text-h6">
                    <span class="fas fa-trash"></span>
                  </span>
                </q-btn>
              </div>
            </div>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="runNumber" :props="props">{{props.row.__index + 1 }}</q-td>
              <q-td key="ticketType" :props="props">
                <span class="text-body1">{{ props.row.ticketType }}</span>
              </q-td>
              <q-td key="ticketNumber" :props="props">
                <span class="text-body1">{{ props.row.ticketNumber }}</span>
              </q-td>
              <q-td key="price" :props="props">
                <span class="text-body1">{{ props.row.price }}</span>
              </q-td>
              <!-- <q-td key="restore" :props="props">
                <q-btn flat round>
                  <span class="fas fa-undo-alt"></span>
                </q-btn>
              </q-td>-->
            </q-tr>
          </template>
        </q-table>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
export default {
  data() {
    return {
      dataTicketsList: [],
      paginations: { rowsPerPage: 0 },
      columns: [
        {
          name: "runNumber",
          label: "ลำดับ",
          align: "center",
          style: "width:150px;"
        },
        {
          name: "ticketType",
          label: "ประเภท",
          align: "center",
          style: "width:150px;"
        },
        {
          name: "ticketNumber",
          label: "ตัวเลข",
          align: "center",
          style: "width:150px;"
        },
        {
          name: "price",
          label: "ราคา",
          align: "center",
          style: "width:150px;"
        }
        // {
        //   name: "restore",
        //   label: "กู้ข้อมูล",
        //   align: "center",
        //   style: "width:150px;"
        // }
      ],
      isLoading: false
    };
  },
  methods: {
    deleteBtn() {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "คุณต้องการลบข้อมูลใช่หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก",
          persistent: true
        })
        .onOk(() => {
          this.deleteData();
        })
        .onCancel(() => {
          return;
        });
    },
    async deleteData() {
      this.loadingShow("กำลังลบสำรองข้อมูล...");

      let data = await db.collection("Ticketsserver").get();

      for (const getData of data.docs) {
        await db
          .collection("Ticketsserver")
          .doc(getData.id)
          .delete();
      }

      this.loadingHide();
    },
    restoreBtn() {
      this.$q
        .dialog({
          title: "กู้ข้อมูล",
          message: "คุณต้องการกู้ข้อมูลใช่หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก",
          persistent: true
        })
        .onOk(() => {
          this.setDraft();
        })
        .onCancel(() => {
          return;
        });
    },
    async setDraft() {
      db.collection("Servers")
        .doc("data")
        .update({ server: true });

      let data = await db.collection("Ticketsserver").get();

      for (const getData of data.docs) {
        await db
          .collection("Ticketsdraft")
          .doc(getData.id)
          .set(getData.data());

        await db
          .collection("Ticketsserver")
          .doc(getData.id)
          .delete();
      }

      db.collection("Servers")
        .doc("data")
        .update({ server: false });
    },
    loadTicket() {
      this.isLoading = true;
      this.getTicket = db.collection("Ticketsserver").onSnapshot(doc => {
        this.dataTicketsList = [];

        doc.forEach(getdata => {
          let dataKey = {
            key: getdata.id,
            isChoose: false
          };

          let dataFinal = {
            ...dataKey,
            ...getdata.data()
          };

          this.dataTicketsList.push(dataFinal);
          this.dataTicketsList.sort((a, b) => {
            return Number(a.ticketNumber) - Number(b.ticketNumber);
          });
        });

        setTimeout(() => {
          this.isLoading = false;
        }, 800);
      });
    }
  },
  mounted() {
    this.loadTicket();
  }
};
</script>