<template>
  <div>
    <div class="print-hide">
      <q-tabs
        v-model="tab"
        inline-label
        stretch
        active-bg-color="blue-grey-10"
        class="bg-blue-grey-14 text-white shadow-2"
        style="position: -webkit-sticky;position:sticky;top: 50px;z-index:1"
      >
        <q-tab style="min-width:150px;width:100%;" name="ticketAll" ripple label="หวยทั้งหมด" />
        <q-tab style="min-width:150px;width:100%;" name="ticketTop" label="หวยบน" />
        <q-tab style="min-width:150px;width:100%;" name="ticketBottom" label="หวยล่าง" />
        <q-tab style="min-width:150px;width:100%;" name="ticketOther" label="วิ่งสาม/หวยโต๊ด" />
      </q-tabs>

      <q-tab-panels v-model="tab" animated class="bg-blue-grey-7">
        <!-- Ticket All -->
        <q-tab-panel name="ticketAll" class="no-padding">
          <div class="row q-pa-md-md">
            <div class="col-md-12 col-xs-12 q-pb-xs-md">
              <q-table
                title="หวยทั้งหมด"
                :data="dataTicketsListAll"
                :columns="columns"
                :pagination.sync="paginationsAll"
                row-key="name"
                separator="cell"
                square
                :loading="isLoading"
              >
                <template v-slot:top>
                  <div class="row full-width">
                    <div class="col-6">
                      <span class="text-h6">หวยทั้งหมด ({{'ราคา ' + dataPrice.all + ' บาท'}})</span>
                    </div>
                    <div class="col-6" align="right">
                      <q-btn
                        push
                        color="primary"
                        round
                        :disable="dataTicketsListAll.length == 0"
                        @click="printBtn('all')"
                      >
                        <span class="text-h6">
                          <span class="fas fa-print"></span>
                        </span>
                      </q-btn>
                    </div>
                  </div>
                </template>
                <template v-slot:body="props">
                  <q-tr :props="props">
                    <q-td key="ticketType" :props="props">
                      <span class="text-body1">{{ props.row.ticketType }}</span>
                    </q-td>
                    <q-td key="ticketNumber" :props="props">
                      <span class="text-body1">{{ props.row.ticketNumber }}</span>
                    </q-td>
                    <q-td key="price" :props="props">
                      <span class="text-body1">{{ props.row.price }}</span>
                    </q-td>
                  </q-tr>
                </template>
              </q-table>
            </div>
          </div>
        </q-tab-panel>

        <!-- Ticket Top -->
        <q-tab-panel name="ticketTop" class="no-padding">
          <div class="q-pa-md-md">
            <div class="bg-white">
              <div class="row">
                <div class="col-md-6 col-xs-10">
                  <q-select
                    class="q-pa-sm"
                    v-model="ticketTopChoose"
                    :options="ticketTopOptions"
                    emit-value
                    map-options
                    label="หวยบน"
                  />
                </div>
                <div class="col-md-6 col-xs-2 q-pa-md" align="right">
                  <q-btn
                    push
                    color="primary"
                    round
                    :disable="dataTicketsListTop.length == 0"
                    @click="printBtn('top')"
                  >
                    <span class="text-h6">
                      <span class="fas fa-print"></span>
                    </span>
                  </q-btn>
                </div>
              </div>
              <q-table
                :data="dataTicketsListTop"
                :columns="columns"
                :pagination.sync="paginationsAll"
                row-key="name"
                separator="cell"
                bordered
                square
                flat
                :loading="isLoading"
              >
                <template v-slot:top>
                  <span
                    v-if="ticketTopChoose == 'วิ่งสองตัวบน'"
                    class="text-h6"
                  >หวยวิ่งสองตัวบน ({{'ราคา ' + dataPrice.runTwoTop + ' บาท'}})</span>
                  <span
                    v-if="ticketTopChoose == 'สองตัวบน'"
                    class="text-h6"
                  >หวยสองตัวบน ({{'ราคา ' + dataPrice.twoTop + ' บาท'}})</span>
                  <span
                    v-if="ticketTopChoose == 'สามตัวบน'"
                    class="text-h6"
                  >หวยสามตัวบน ({{'ราคา ' + dataPrice.threeTop + ' บาท'}})</span>
                </template>
                <template v-slot:body="props">
                  <q-tr :props="props" v-if="props.row.ticketType == ticketTopChoose">
                    <q-td key="ticketType" :props="props">
                      <span class="text-body1">{{ props.row.ticketType }}</span>
                    </q-td>
                    <q-td key="ticketNumber" :props="props">
                      <span class="text-body1">{{ props.row.ticketNumber }}</span>
                    </q-td>
                    <q-td key="price" :props="props">
                      <span class="text-body1">{{ props.row.price }}</span>
                    </q-td>
                  </q-tr>
                </template>
              </q-table>
            </div>
          </div>
        </q-tab-panel>

        <!-- Ticket Bottom -->
        <q-tab-panel name="ticketBottom" class="no-padding">
          <div class="q-pa-md-md">
            <div class="bg-white">
              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <q-select
                    class="q-pa-sm"
                    v-model="ticketBottomChoose"
                    :options="ticketBottomOptions"
                    emit-value
                    map-options
                    label="หวยล่าง"
                  />
                </div>
                <div class="col-md-6 col-xs-2 q-pa-md" align="right">
                  <q-btn
                    push
                    color="primary"
                    round
                    :disable="dataTicketsListBottom.length == 0"
                    @click="printBtn('bottom')"
                  >
                    <span class="text-h6">
                      <span class="fas fa-print"></span>
                    </span>
                  </q-btn>
                </div>
              </div>
              <q-table
                :data="dataTicketsListBottom"
                :columns="columns"
                :pagination.sync="paginationsAll"
                row-key="name"
                separator="cell"
                bordered
                square
                flat
                :loading="isLoading"
              >
                <template v-slot:top>
                  <span
                    v-if="ticketBottomChoose == 'วิ่งสองตัวล่าง'"
                    class="text-h6"
                  >หวยวิ่งสองตัวล่าง ({{'ราคา ' + dataPrice.runTwoBottom + ' บาท'}})</span>
                  <span
                    v-if="ticketBottomChoose == 'สองตัวล่าง'"
                    class="text-h6"
                  >หวยสองตัวล่าง ({{'ราคา ' + dataPrice.twoBottom + ' บาท'}})</span>
                  <span
                    v-if="ticketBottomChoose == 'สามตัวล่าง'"
                    class="text-h6"
                  >หวยสามตัวล่าง ({{'ราคา ' + dataPrice.threeBottom + ' บาท'}})</span>
                </template>
                <template v-slot:body="props">
                  <q-tr :props="props" v-if="props.row.ticketType == ticketBottomChoose">
                    <q-td key="ticketType" :props="props">
                      <span class="text-body1">{{ props.row.ticketType }}</span>
                    </q-td>
                    <q-td key="ticketNumber" :props="props">
                      <span class="text-body1">{{ props.row.ticketNumber }}</span>
                    </q-td>
                    <q-td key="price" :props="props">
                      <span class="text-body1">{{ props.row.price }}</span>
                    </q-td>
                  </q-tr>
                </template>
              </q-table>
            </div>
          </div>
        </q-tab-panel>

        <!-- Ticket Other -->
        <q-tab-panel name="ticketOther" class="no-padding">
          <div class="q-pa-md-md">
            <div class="bg-white">
              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <q-select
                    class="q-pa-sm"
                    v-model="ticketOtherChoose"
                    :options="ticketOtherOptions"
                    emit-value
                    map-options
                    label="วิ่งสามตัว/สามตัวโต๊ด"
                  />
                </div>
                <div class="col-md-6 col-xs-2 q-pa-md" align="right">
                  <q-btn
                    push
                    color="primary"
                    round
                    :disable="dataTicketsListOther.length == 0"
                    @click="printBtn('other')"
                  >
                    <span class="text-h6">
                      <span class="fas fa-print"></span>
                    </span>
                  </q-btn>
                </div>
              </div>
              <q-table
                :data="dataTicketsListOther"
                :columns="columns"
                :pagination.sync="paginationsAll"
                row-key="name"
                separator="cell"
                bordered
                square
                flat
                :loading="isLoading"
              >
                <template v-slot:top>
                  <span
                    v-if="ticketOtherChoose == 'วิ่งสามตัว'"
                    class="text-h6"
                  >หวยวิ่งสามตัว ({{'ราคา ' + dataPrice.runThree + ' บาท'}})</span>
                  <span
                    v-if="ticketOtherChoose == 'สามตัวโต๊ด'"
                    class="text-h6"
                  >หวยโต๊ด ({{'ราคา ' + dataPrice.threeToot + ' บาท'}})</span>
                </template>
                <template v-slot:body="props">
                  <q-tr :props="props" v-if="props.row.ticketType == ticketOtherChoose">
                    <q-td key="ticketType" :props="props">
                      <span class="text-body1">{{ props.row.ticketType }}</span>
                    </q-td>
                    <q-td key="ticketNumber" :props="props">
                      <span class="text-body1">{{ props.row.ticketNumber }}</span>
                    </q-td>
                    <q-td key="price" :props="props">
                      <span class="text-body1">{{ props.row.price }}</span>
                    </q-td>
                  </q-tr>
                </template>
              </q-table>
            </div>
          </div>
        </q-tab-panel>
      </q-tab-panels>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
export default {
  data() {
    return {
      tab: "ticketAll",
      getTicket: "",

      dataTime: "",

      dataTicketsListAll: [],
      dataTicketsListTop: [],
      dataTicketsListBottom: [],
      dataTicketsListOther: [],
      dataPrice: {
        all: 0,
        runTwoTop: 0,
        runTwoBottom: 0,
        runThree: 0,
        twoTop: 0,
        threeTop: 0,
        twoBottom: 0,
        threeBottom: 0,
        threeToot: 0
      },
      isDataAll: false,
      tab: "ticketAll",
      ticketTopChoose: "วิ่งสองตัวบน",
      ticketTopOptions: [
        {
          value: "วิ่งสองตัวบน",
          label: "วิ่งสองตัวบน"
        },
        {
          value: "สองตัวบน",
          label: "สองตัวบน"
        },
        {
          value: "สามตัวบน",
          label: "สามตัวบน"
        }
      ],
      ticketBottomChoose: "วิ่งสองตัวล่าง",
      ticketBottomOptions: [
        {
          value: "วิ่งสองตัวล่าง",
          label: "วิ่งสองตัวล่าง"
        },
        {
          value: "สองตัวล่าง",
          label: "สองตัวล่าง"
        },
        {
          value: "สามตัวล่าง",
          label: "สามตัวล่าง"
        }
      ],
      ticketOtherChoose: "วิ่งสามตัว",
      ticketOtherOptions: [
        {
          value: "วิ่งสามตัว",
          label: "วิ่งสามตัว"
        },
        {
          value: "สามตัวโต๊ด",
          label: "สามตัวโต๊ด"
        }
      ],

      paginationsAll: {
        rowsPerPage: 0
      },
      paginationsTwo: { rowsPerPage: 15 },
      paginationsThree: { rowsPerPage: 15 },
      paginationsFour: { rowsPerPage: 15 },
      columns: [
        {
          name: "ticketType",
          label: "ประเภท",
          align: "center",
          style: "width:150px;"
        },
        {
          name: "ticketNumber",
          label: "ตัวเลข",
          align: "center",
          style: "width:150px;"
        },
        {
          name: "price",
          label: "ราคา",
          align: "center",
          style: "width:150px;"
        }
      ],

      // is Loading
      isLoading: false
    };
  },
  methods: {
    printBtn(type) {
      // ปริ้นทั้งหมด
      if (type == "all") {
        this.$q
          .dialog({
            title: "พิมพ์ข้อมูล",
            message: "คุณต้องการที่จะพิมพ์ใช่หรือไม่",
            ok: "ตกลง",
            cancel: "ยกเลิก"
          })
          .onOk(() => {
            let routeData = this.$router.resolve({
              path: "/ticket/print/" + type
            });
            window.open(routeData.href, "_blank");
          })
          .onCancel(() => {
            return;
          });
      }
      // ปริ้นเฉพาะหวยบน
      else if (type == "top") {
        this.$q
          .dialog({
            title: "พิมพ์ข้อมูล",
            message: "คุณต้องการที่จะพิมพ์ใช่หรือไม่",
            ok: "ตกลง",
            cancel: "ยกเลิก",
            options: {
              type: "radio",
              model: "oneAll",
              // inline: true
              items: [
                { label: "ทั้งหมด", value: "oneAll", color: "secondary" },
                { label: "วิ่งสองตัวบน", value: "one1", color: "secondary" },
                { label: "สองตัวบน", value: "one2", color: "secondary" },
                { label: "สามตัวบน", value: "one3", color: "secondary" }
              ]
            }
          })
          .onOk(data => {
            let routeData = this.$router.resolve({
              path: "/ticket/print/" + data
            });
            window.open(routeData.href, "_blank");
          })
          .onCancel(() => {
            return;
          });
      }
      // ปริ้นเฉพาะหวยล่าง
      else if (type == "bottom") {
        this.$q
          .dialog({
            title: "พิมพ์ข้อมูล",
            message: "คุณต้องการที่จะพิมพ์ใช่หรือไม่",
            ok: "ตกลง",
            cancel: "ยกเลิก",
            options: {
              type: "radio",
              model: "twoAll",
              // inline: true
              items: [
                { label: "ทั้งหมด", value: "twoAll", color: "secondary" },
                { label: "วิ่งสองตัวล่าง", value: "two1", color: "secondary" },
                { label: "สองตัวล่าง", value: "two2", color: "secondary" },
                { label: "สามตัวล่าง", value: "two3", color: "secondary" }
              ]
            }
          })
          .onOk(data => {
            let routeData = this.$router.resolve({
              path: "/ticket/print/" + data
            });
            window.open(routeData.href, "_blank");
          })
          .onCancel(() => {
            return;
          });
      }

      // ปริ้นเฉพาะอื่นๆ วิ่งสามตัว/สามตัวโต๊ด
      else if (type == "other") {
        this.$q
          .dialog({
            title: "พิมพ์ข้อมูล",
            message: "คุณต้องการที่จะพิมพ์ใช่หรือไม่",
            ok: "ตกลง",
            cancel: "ยกเลิก",
            options: {
              type: "radio",
              model: "threeAll",
              // inline: true
              items: [
                { label: "ทั้งหมด", value: "threeAll", color: "secondary" },
                { label: "วิ่งสามตัว", value: "three1", color: "secondary" },
                { label: "สามตัวโต๊ด", value: "three2", color: "secondary" }
              ]
            }
          })
          .onOk(data => {
            let routeData = this.$router.resolve({
              path: "/ticket/print/" + data
            });
            window.open(routeData.href, "_blank");
          })
          .onCancel(() => {
            return;
          });
      }
    },
    loadTickets() {
      this.isLoading = true;

      db.collection("Ticketsdraft")
        .orderBy("ticketNumber")
        .onSnapshot(result => {
          this.dataTicketsListAll = [];
          this.dataTicketsListTop = [];
          this.dataTicketsListBottom = [];
          this.dataTicketsListOther = [];

          let ticketRunTwoUpper = [];
          let ticketRunTwoLower = [];
          let ticketRunThree = [];
          let ticketTwoUpper = [];
          let ticketTwoLower = [];
          let ticketThreeUpper = [];
          let ticketThreeLower = [];
          let ticketThreeToot = [];

          this.dataPrice = {
            all: 0,
            runTwoTop: 0,
            runTwoBottom: 0,
            runThree: 0,
            twoTop: 0,
            threeTop: 0,
            twoBottom: 0,
            threeBottom: 0,
            threeToot: 0
          };

          if (result.size > 0) {
            this.isDataAll = true;
            result.forEach(getData => {
              if (getData.exists) {
                // NOTE ดึงข้อมูลทั้งหมด Type = All
                if (getData.data().ticketType == "วิ่งสองตัวบน") {
                  ticketRunTwoUpper.push(getData.data());

                  this.dataPrice.runTwoTop += Number(getData.data().price);
                }

                if (getData.data().ticketType == "วิ่งสองตัวล่าง") {
                  ticketRunTwoLower.push(getData.data());

                  this.dataPrice.runTwoBottom += Number(getData.data().price);
                }

                if (getData.data().ticketType == "วิ่งสามตัว") {
                  ticketRunThree.push(getData.data());

                  this.dataPrice.runThree += Number(getData.data().price);
                }

                if (getData.data().ticketType == "สองตัวบน") {
                  ticketTwoUpper.push(getData.data());

                  this.dataPrice.twoTop += Number(getData.data().price);
                }

                if (getData.data().ticketType == "สองตัวล่าง") {
                  ticketTwoLower.push(getData.data());

                  this.dataPrice.twoBottom += Number(getData.data().price);
                }

                if (getData.data().ticketType == "สามตัวบน") {
                  ticketThreeUpper.push(getData.data());

                  this.dataPrice.threeTop += Number(getData.data().price);
                }

                if (getData.data().ticketType == "สามตัวล่าง") {
                  ticketThreeLower.push(getData.data());

                  this.dataPrice.threeBottom += Number(getData.data().price);
                }

                if (getData.data().ticketType == "สามตัวโต๊ด") {
                  ticketThreeToot.push(getData.data());

                  this.dataPrice.threeToot += Number(getData.data().price);
                }

                this.dataPrice.all += Number(getData.data().price);
              }
            });

            let newPrice = this.dataPrice.all.toString();

            let x = newPrice.split(".");
            let x1 = x[0];
            let x2 = x.length > 1 ? "." + x[1] : "";
            let rgx = /(\d+)(\d{3})/;

            while (rgx.test(x1)) {
              x1 = x1.replace(rgx, "$1" + "," + "$2");
            }

            this.dataPrice.all = x1 + x2;

            // -------------------------- SECTION Save to Array --------------------------
            // NOTE วิ่ง 2 ตัวบน
            if (ticketRunTwoUpper.length > 0) {
              let duplicateNumber = "";
              let newArray = [];
              let newPrice = {
                price: 0
              };

              for (let i = 0; i < ticketRunTwoUpper.length; i++) {
                if (duplicateNumber == ticketRunTwoUpper[i].ticketNumber) {
                  for (let x = 0; x < newArray.length; x++) {
                    if (
                      newArray[x].ticketNumber ==
                      ticketRunTwoUpper[i].ticketNumber
                    ) {
                      let oldPrice = Number(newArray[x].price);
                      let newPrice =
                        oldPrice + Number(ticketRunTwoUpper[i].price);

                      let sumNewPrice = newPrice.toString();

                      newArray[x].price = sumNewPrice;
                    }
                  }
                } else {
                  duplicateNumber = ticketRunTwoUpper[i].ticketNumber;

                  newArray.push(ticketRunTwoUpper[i]);
                }
              }

              for (let i = 0; i < newArray.length; i++) {
                let x = newArray[i].price.split(".");
                let x1 = x[0];
                let x2 = x.length > 1 ? "." + x[1] : "";
                let rgx = /(\d+)(\d{3})/;

                while (rgx.test(x1)) {
                  x1 = x1.replace(rgx, "$1" + "," + "$2");
                }

                newArray[i].price = x1 + x2;

                this.dataTicketsListAll.push(newArray[i]);
                this.dataTicketsListTop.push(newArray[i]);
              }

              newPrice = this.dataPrice.runTwoTop.toString();

              let x = newPrice.split(".");
              let x1 = x[0];
              let x2 = x.length > 1 ? "." + x[1] : "";
              let rgx = /(\d+)(\d{3})/;

              while (rgx.test(x1)) {
                x1 = x1.replace(rgx, "$1" + "," + "$2");
              }

              this.dataPrice.runTwoTop = x1 + x2;
            }

            // NOTE วิ่ง 2 ตัวล่าง
            if (ticketRunTwoLower.length > 0) {
              let duplicateNumber = "";
              let newArray = [];
              let newPrice = {
                price: 0
              };

              for (let i = 0; i < ticketRunTwoLower.length; i++) {
                if (duplicateNumber == ticketRunTwoLower[i].ticketNumber) {
                  for (let x = 0; x < newArray.length; x++) {
                    if (
                      newArray[x].ticketNumber ==
                      ticketRunTwoLower[i].ticketNumber
                    ) {
                      let oldPrice = Number(newArray[x].price);
                      let newPrice =
                        oldPrice + Number(ticketRunTwoLower[i].price);

                      let sumNewPrice = newPrice.toString();

                      newArray[x].price = sumNewPrice;
                    }
                  }
                } else {
                  duplicateNumber = ticketRunTwoLower[i].ticketNumber;

                  newArray.push(ticketRunTwoLower[i]);
                }
              }

              for (let i = 0; i < newArray.length; i++) {
                let x = newArray[i].price.split(".");
                let x1 = x[0];
                let x2 = x.length > 1 ? "." + x[1] : "";
                let rgx = /(\d+)(\d{3})/;

                while (rgx.test(x1)) {
                  x1 = x1.replace(rgx, "$1" + "," + "$2");
                }

                newArray[i].price = x1 + x2;
                this.dataTicketsListAll.push(newArray[i]);
                this.dataTicketsListBottom.push(newArray[i]);
              }

              newPrice = this.dataPrice.runTwoBottom.toString();

              let x = newPrice.split(".");
              let x1 = x[0];
              let x2 = x.length > 1 ? "." + x[1] : "";
              let rgx = /(\d+)(\d{3})/;

              while (rgx.test(x1)) {
                x1 = x1.replace(rgx, "$1" + "," + "$2");
              }

              this.dataPrice.runTwoBottom = x1 + x2;
            }

            // NOTE วิ่งสามตัว
            if (ticketRunThree.length > 0) {
              let duplicateNumber = "";
              let newArray = [];
              let newPrice = {
                price: 0
              };

              for (let i = 0; i < ticketRunThree.length; i++) {
                if (duplicateNumber == ticketRunThree[i].ticketNumber) {
                  for (let x = 0; x < newArray.length; x++) {
                    if (
                      newArray[x].ticketNumber == ticketRunThree[i].ticketNumber
                    ) {
                      let oldPrice = Number(newArray[x].price);
                      let newPrice = oldPrice + Number(ticketRunThree[i].price);

                      let sumNewPrice = newPrice.toString();

                      newArray[x].price = sumNewPrice;
                    }
                  }
                } else {
                  duplicateNumber = ticketRunThree[i].ticketNumber;

                  newArray.push(ticketRunThree[i]);
                }
              }

              for (let i = 0; i < newArray.length; i++) {
                let x = newArray[i].price.split(".");
                let x1 = x[0];
                let x2 = x.length > 1 ? "." + x[1] : "";
                let rgx = /(\d+)(\d{3})/;

                while (rgx.test(x1)) {
                  x1 = x1.replace(rgx, "$1" + "," + "$2");
                }

                newArray[i].price = x1 + x2;
                this.dataTicketsListAll.push(newArray[i]);
                this.dataTicketsListOther.push(newArray[i]);
              }

              newPrice = this.dataPrice.runThree.toString();

              let x = newPrice.split(".");
              let x1 = x[0];
              let x2 = x.length > 1 ? "." + x[1] : "";
              let rgx = /(\d+)(\d{3})/;

              while (rgx.test(x1)) {
                x1 = x1.replace(rgx, "$1" + "," + "$2");
              }

              this.dataPrice.runThree = x1 + x2;
            }

            // NOTE  2 ตัวบน
            if (ticketTwoUpper.length > 0) {
              let duplicateNumber = "";
              let newArray = [];
              let newPrice = {
                price: 0
              };

              for (let i = 0; i < ticketTwoUpper.length; i++) {
                if (duplicateNumber == ticketTwoUpper[i].ticketNumber) {
                  for (let x = 0; x < newArray.length; x++) {
                    if (
                      newArray[x].ticketNumber == ticketTwoUpper[i].ticketNumber
                    ) {
                      let oldPrice = Number(newArray[x].price);
                      let newPrice = oldPrice + Number(ticketTwoUpper[i].price);

                      let sumNewPrice = newPrice.toString();

                      newArray[x].price = sumNewPrice;
                    }
                  }
                } else {
                  duplicateNumber = ticketTwoUpper[i].ticketNumber;

                  newArray.push(ticketTwoUpper[i]);
                }
              }

              for (let i = 0; i < newArray.length; i++) {
                let x = newArray[i].price.split(".");
                let x1 = x[0];
                let x2 = x.length > 1 ? "." + x[1] : "";
                let rgx = /(\d+)(\d{3})/;

                while (rgx.test(x1)) {
                  x1 = x1.replace(rgx, "$1" + "," + "$2");
                }

                newArray[i].price = x1 + x2;
                this.dataTicketsListAll.push(newArray[i]);
                this.dataTicketsListTop.push(newArray[i]);
              }

              newPrice = this.dataPrice.twoTop.toString();

              let x = newPrice.split(".");
              let x1 = x[0];
              let x2 = x.length > 1 ? "." + x[1] : "";
              let rgx = /(\d+)(\d{3})/;

              while (rgx.test(x1)) {
                x1 = x1.replace(rgx, "$1" + "," + "$2");
              }

              this.dataPrice.twoTop = x1 + x2;
            }

            // NOTE  2 ตัวล่าง
            if (ticketTwoLower.length > 0) {
              let duplicateNumber = "";
              let newArray = [];
              let newPrice = {
                price: 0
              };

              for (let i = 0; i < ticketTwoLower.length; i++) {
                if (duplicateNumber == ticketTwoLower[i].ticketNumber) {
                  for (let x = 0; x < newArray.length; x++) {
                    if (
                      newArray[x].ticketNumber == ticketTwoLower[i].ticketNumber
                    ) {
                      let oldPrice = Number(newArray[x].price);
                      let newPrice = oldPrice + Number(ticketTwoLower[i].price);

                      let sumNewPrice = newPrice.toString();

                      newArray[x].price = sumNewPrice;
                    }
                  }
                } else {
                  duplicateNumber = ticketTwoLower[i].ticketNumber;

                  newArray.push(ticketTwoLower[i]);
                }
              }

              for (let i = 0; i < newArray.length; i++) {
                let x = newArray[i].price.split(".");
                let x1 = x[0];
                let x2 = x.length > 1 ? "." + x[1] : "";
                let rgx = /(\d+)(\d{3})/;

                while (rgx.test(x1)) {
                  x1 = x1.replace(rgx, "$1" + "," + "$2");
                }

                newArray[i].price = x1 + x2;
                this.dataTicketsListAll.push(newArray[i]);
                this.dataTicketsListBottom.push(newArray[i]);
              }

              newPrice = this.dataPrice.twoBottom.toString();

              let x = newPrice.split(".");
              let x1 = x[0];
              let x2 = x.length > 1 ? "." + x[1] : "";
              let rgx = /(\d+)(\d{3})/;

              while (rgx.test(x1)) {
                x1 = x1.replace(rgx, "$1" + "," + "$2");
              }

              this.dataPrice.twoBottom = x1 + x2;
            }

            // NOTE 3 ตัวบน
            if (ticketThreeUpper.length > 0) {
              let duplicateNumber = "";
              let newArray = [];
              let newPrice = {
                price: 0
              };

              for (let i = 0; i < ticketThreeUpper.length; i++) {
                if (duplicateNumber == ticketThreeUpper[i].ticketNumber) {
                  for (let x = 0; x < newArray.length; x++) {
                    if (
                      newArray[x].ticketNumber ==
                      ticketThreeUpper[i].ticketNumber
                    ) {
                      let oldPrice = Number(newArray[x].price);
                      let newPrice =
                        oldPrice + Number(ticketThreeUpper[i].price);

                      let sumNewPrice = newPrice.toString();

                      newArray[x].price = sumNewPrice;
                    }
                  }
                } else {
                  duplicateNumber = ticketThreeUpper[i].ticketNumber;

                  newArray.push(ticketThreeUpper[i]);
                }
              }

              for (let i = 0; i < newArray.length; i++) {
                let x = newArray[i].price.split(".");
                let x1 = x[0];
                let x2 = x.length > 1 ? "." + x[1] : "";
                let rgx = /(\d+)(\d{3})/;

                while (rgx.test(x1)) {
                  x1 = x1.replace(rgx, "$1" + "," + "$2");
                }

                newArray[i].price = x1 + x2;
                this.dataTicketsListAll.push(newArray[i]);
                this.dataTicketsListTop.push(newArray[i]);
              }

              newPrice = this.dataPrice.threeTop.toString();

              let x = newPrice.split(".");
              let x1 = x[0];
              let x2 = x.length > 1 ? "." + x[1] : "";
              let rgx = /(\d+)(\d{3})/;

              while (rgx.test(x1)) {
                x1 = x1.replace(rgx, "$1" + "," + "$2");
              }

              this.dataPrice.threeTop = x1 + x2;
            }

            // NOTE 3 ตัวล่าง
            if (ticketThreeLower.length > 0) {
              let duplicateNumber = "";
              let newArray = [];
              let newPrice = {
                price: 0
              };

              for (let i = 0; i < ticketThreeLower.length; i++) {
                if (duplicateNumber == ticketThreeLower[i].ticketNumber) {
                  for (let x = 0; x < newArray.length; x++) {
                    if (
                      newArray[x].ticketNumber ==
                      ticketThreeLower[i].ticketNumber
                    ) {
                      let oldPrice = Number(newArray[x].price);
                      let newPrice =
                        oldPrice + Number(ticketThreeLower[i].price);

                      let sumNewPrice = newPrice.toString();

                      newArray[x].price = sumNewPrice;
                    }
                  }
                } else {
                  duplicateNumber = ticketThreeLower[i].ticketNumber;

                  newArray.push(ticketThreeLower[i]);
                }
              }

              for (let i = 0; i < newArray.length; i++) {
                let x = newArray[i].price.split(".");
                let x1 = x[0];
                let x2 = x.length > 1 ? "." + x[1] : "";
                let rgx = /(\d+)(\d{3})/;

                while (rgx.test(x1)) {
                  x1 = x1.replace(rgx, "$1" + "," + "$2");
                }

                newArray[i].price = x1 + x2;
                this.dataTicketsListAll.push(newArray[i]);
                this.dataTicketsListBottom.push(newArray[i]);
              }

              newPrice = this.dataPrice.threeBottom.toString();

              let x = newPrice.split(".");
              let x1 = x[0];
              let x2 = x.length > 1 ? "." + x[1] : "";
              let rgx = /(\d+)(\d{3})/;

              while (rgx.test(x1)) {
                x1 = x1.replace(rgx, "$1" + "," + "$2");
              }

              this.dataPrice.threeBottom = x1 + x2;
            }

            // NOTE 3 ตัวโต๊ด
            if (ticketThreeToot.length > 0) {
              let duplicateNumber = "";
              let newArray = [];
              let newPrice = {
                price: 0
              };

              for (let i = 0; i < ticketThreeToot.length; i++) {
                if (duplicateNumber == ticketThreeToot[i].ticketNumber) {
                  for (let x = 0; x < newArray.length; x++) {
                    if (
                      newArray[x].ticketNumber ==
                      ticketThreeToot[i].ticketNumber
                    ) {
                      let oldPrice = Number(newArray[x].price);
                      let newPrice =
                        oldPrice + Number(ticketThreeToot[i].price);

                      let sumNewPrice = newPrice.toString();

                      newArray[x].price = sumNewPrice;
                    }
                  }
                } else {
                  duplicateNumber = ticketThreeToot[i].ticketNumber;

                  newArray.push(ticketThreeToot[i]);
                }
              }

              for (let i = 0; i < newArray.length; i++) {
                let x = newArray[i].price.split(".");
                let x1 = x[0];
                let x2 = x.length > 1 ? "." + x[1] : "";
                let rgx = /(\d+)(\d{3})/;

                while (rgx.test(x1)) {
                  x1 = x1.replace(rgx, "$1" + "," + "$2");
                }

                newArray[i].price = x1 + x2;
                this.dataTicketsListAll.push(newArray[i]);
                this.dataTicketsListOther.push(newArray[i]);
              }

              newPrice = this.dataPrice.threeToot.toString();

              let x = newPrice.split(".");
              let x1 = x[0];
              let x2 = x.length > 1 ? "." + x[1] : "";
              let rgx = /(\d+)(\d{3})/;

              while (rgx.test(x1)) {
                x1 = x1.replace(rgx, "$1" + "," + "$2");
              }

              this.dataPrice.threeToot = x1 + x2;
            }

            this.dataTicketsListAll.sort((a, b) => {
              return Number(a.ticketNumber - b.ticketNumber);
            });
          }

          setTimeout(() => {
            this.isLoading = false;
          }, 800);
        });
    }
  },
  mounted() {
    this.loadTickets("ทั้งหมด");
  }
};
</script>

<style scoped>
.bg-print {
  min-height: 100vh;
  max-height: fit-content;
  counter-reset: page;
}
.print-bar {
  width: 100%;
  min-width: max-content;
  margin-bottom: 65px;
}
.print-bar-color {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background: rgb(43, 43, 43);
  z-index: 5000;
}
.fix-btn {
  position: fixed;
  right: 0;
}
.fix-btn1 {
  position: fixed;
  right: 0;
  margin-right: 65px;
}
.printMe {
  background: white;
  display: block;
  margin: 15px auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  font-family: Pridi;
}

.printMe[size="A4"] {
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table-data {
  width: 100%;
  border-collapse: collapse;
  padding-top: 10px;
}

.brx {
  border: 1px solid#f00;
}

.q-mt-md {
  margin-top: 0px;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }
  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  size: 210mm 297mm;
}
</style>