<template>
  <div class="bg-print">
    <div align="right" id="printBtn" class="print-bar">
      <div class="print-bar-color q-pa-xs shadow-2">
        <q-btn class="fix-btn q-mr-md" flat @click="printBtn()" round>
          <q-icon name="fas fa-print" color="white" />
        </q-btn>
      </div>
    </div>

    <!-- SECTION  Ticket Run Two Upper -->
    <div
      size="A4"
      class="printMe q-px-md q-py-xs"
      v-for="(item,index) in dataShowAll.ticketRunTwoUpper.data"
      :key="index"
    >
      <div align="center" class="q-pa-xs">
        <div>
          <span class="text-h5">
            <u>{{dataShowAll.ticketRunTwoUpper.titleName}}</u>
          </span>
        </div>
      </div>
      <hr />
      <div class="row q-px-lg">
        <div class="col-2 text-subtitle1 text-bold" v-for="(item2,index2) in item" :key="index2">
          <span>{{item2.ticketNumber}} = {{item2.price}}</span>
        </div>
      </div>
      <hr v-if="index + 1 == ticketRunTwoUpperLength" />
      <div class="row" v-if="index + 1 == ticketRunTwoUpperLength">
        <div class="col-9 q-pr-lg text-body1" align="right" style="border-right:1px solid#000;">
          <u>
            <i>
              <span class="text-bold">ยอดรวมทั้งหมด</span>
            </i>
          </u>
        </div>
        <div class="col-3 q-pl-lg text-body1">
          <span class="text-bold">{{dataShowAll.ticketRunTwoUpper.totalPrice}} บาท</span>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-6 text-body2" align="left">
          <span>{{dataTime}}</span>
        </div>
        <div
          class="col-6 text-body1 text-bold"
          align="right"
          v-if="dataShowAll.ticketRunTwoUpper.data.length > 1"
        >
          <span>หน้าที่ {{index + 1}}</span>
        </div>
      </div>
    </div>

    <!-- SECTION  Ticket Ticket Run Two Lower -->
    <div
      size="A4"
      class="printMe q-px-md q-py-xs"
      v-for="(item,index) in dataShowAll.ticketRunTwoLower.data"
      :key="index"
    >
      <div align="center" class="q-pa-xs">
        <div>
          <span class="text-h5">
            <u>{{dataShowAll.ticketRunTwoLower.titleName}}</u>
          </span>
        </div>
      </div>
      <hr />
      <div class="row q-px-lg">
        <div class="col-2 text-subtitle1 text-bold" v-for="(item2,index2) in item" :key="index2">
          <span>{{item2.ticketNumber}} = {{item2.price}}</span>
        </div>
      </div>
      <hr v-if="index + 1 == ticketRunTwoLowerLength" />
      <div class="row" v-if="index + 1 == ticketRunTwoLowerLength">
        <div class="col-9 q-pr-lg text-body1" align="right" style="border-right:1px solid#000;">
          <u>
            <i>
              <span class="text-bold">ยอดรวมทั้งหมด</span>
            </i>
          </u>
        </div>
        <div class="col-3 q-pl-lg text-body1">
          <span class="text-bold">{{dataShowAll.ticketRunTwoLower.totalPrice}} บาท</span>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-6 text-body2" align="left">
          <span>{{dataTime}}</span>
        </div>
        <div
          class="col-6 text-body1 text-bold"
          align="right"
          v-if="dataShowAll.ticketRunTwoLower.data.length > 1"
        >
          <span>หน้าที่ {{index + 1}}</span>
        </div>
      </div>
    </div>

    <!-- SECTION  Ticket Run Three -->
    <div
      size="A4"
      class="printMe q-px-md q-py-xs"
      v-for="(item,index) in dataShowAll.ticketRunThree.data"
      :key="index"
    >
      <div align="center" class="q-pa-xs">
        <div>
          <span class="text-h5">
            <u>{{dataShowAll.ticketRunThree.titleName}}</u>
          </span>
        </div>
      </div>
      <hr />
      <div class="row q-px-lg">
        <div class="col-2 text-subtitle1 text-bold" v-for="(item2,index2) in item" :key="index2">
          <span>{{item2.ticketNumber}} = {{item2.price}}</span>
        </div>
      </div>
      <hr v-if="index + 1 == ticketRunThreeLength" />
      <div class="row" v-if="index + 1 == ticketRunThreeLength">
        <div class="col-9 q-pr-lg text-body1" align="right" style="border-right:1px solid#000;">
          <u>
            <i>
              <span class="text-bold">ยอดรวมทั้งหมด</span>
            </i>
          </u>
        </div>
        <div class="col-3 q-pl-lg text-body1">
          <span class="text-bold">{{dataShowAll.ticketRunThree.totalPrice}} บาท</span>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-6 text-body2" align="left">
          <span>{{dataTime}}</span>
        </div>
        <div
          class="col-6 text-body1 text-bold"
          align="right"
          v-if="dataShowAll.ticketRunThree.data.length > 1"
        >
          <span>หน้าที่ {{index + 1}}</span>
        </div>
      </div>
    </div>

    <!-- SECTION  Ticket Two Upper -->
    <div
      size="A4"
      class="printMe q-px-md q-py-xs"
      v-for="(item,index) in dataShowAll.ticketTwoUpper.data"
      :key="index"
    >
      <div align="center" class="q-pa-xs">
        <div>
          <span class="text-h5">
            <u>{{dataShowAll.ticketTwoUpper.titleName}}</u>
          </span>
        </div>
      </div>
      <hr />
      <div class="row q-px-lg">
        <div class="col-2 text-subtitle1 text-bold" v-for="(item2,index2) in item" :key="index2">
          <span>{{item2.ticketNumber}} = {{item2.price}}</span>
        </div>
      </div>
      <hr v-if="index + 1 == ticketTwoUpperLength" />
      <div class="row" v-if="index + 1 == ticketTwoUpperLength">
        <div class="col-9 q-pr-lg text-body1" align="right" style="border-right:1px solid#000;">
          <u>
            <i>
              <span class="text-bold">ยอดรวมทั้งหมด</span>
            </i>
          </u>
        </div>
        <div class="col-3 q-pl-lg text-body1">
          <span class="text-bold">{{dataShowAll.ticketTwoUpper.totalPrice}} บาท</span>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-6 text-body2" align="left">
          <span>{{dataTime}}</span>
        </div>
        <div
          class="col-6 text-body1 text-bold"
          align="right"
          v-if="dataShowAll.ticketTwoUpper.data.length > 1"
        >
          <span>หน้าที่ {{index + 1}}</span>
        </div>
      </div>
    </div>

    <!-- SECTION  Ticket Two Lower -->
    <div
      size="A4"
      class="printMe q-px-md q-py-xs"
      v-for="(item,index) in dataShowAll.ticketTwoLower.data"
      :key="index"
    >
      <div align="center" class="q-pa-xs">
        <div>
          <span class="text-h5">
            <u>{{dataShowAll.ticketTwoLower.titleName}}</u>
          </span>
        </div>
      </div>
      <hr />
      <div class="row q-px-lg">
        <div class="col-2 text-subtitle1 text-bold" v-for="(item2,index2) in item" :key="index2">
          <span>{{item2.ticketNumber}} = {{item2.price}}</span>
        </div>
      </div>
      <hr v-if="index + 1 == ticketTwoLowerLength" />
      <div class="row" v-if="index + 1 == ticketTwoLowerLength">
        <div class="col-9 q-pr-lg text-body1" align="right" style="border-right:1px solid#000;">
          <u>
            <i>
              <span class="text-bold">ยอดรวมทั้งหมด</span>
            </i>
          </u>
        </div>
        <div class="col-3 q-pl-lg text-body1">
          <span class="text-bold">{{dataShowAll.ticketTwoLower.totalPrice}} บาท</span>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-6 text-body2" align="left">
          <span>{{dataTime}}</span>
        </div>
        <div
          class="col-6 text-body1 text-bold"
          align="right"
          v-if="dataShowAll.ticketTwoLower.data.length > 1"
        >
          <span>หน้าที่ {{index + 1}}</span>
        </div>
      </div>
    </div>

    <!-- SECTION  Ticket Three Upper -->
    <div
      size="A4"
      class="printMe q-px-md q-py-xs"
      v-for="(item,index) in dataShowAll.ticketThreeUpper.data"
      :key="index"
    >
      <div align="center" class="q-pa-xs">
        <div>
          <span class="text-h5">
            <u>{{dataShowAll.ticketThreeUpper.titleName}}</u>
          </span>
        </div>
      </div>
      <hr />
      <div class="row q-px-lg">
        <div class="col-2 text-subtitle1 text-bold" v-for="(item2,index2) in item" :key="index2">
          <span>{{item2.ticketNumber}} = {{item2.price}}</span>
        </div>
      </div>
      <hr v-if="index + 1 == ticketThreeUpperLength" />
      <div class="row" v-if="index + 1 == ticketThreeUpperLength">
        <div class="col-9 q-pr-lg text-body1" align="right" style="border-right:1px solid#000;">
          <u>
            <i>
              <span class="text-bold">ยอดรวมทั้งหมด</span>
            </i>
          </u>
        </div>
        <div class="col-3 q-pl-lg text-body1">
          <span class="text-bold">{{dataShowAll.ticketThreeUpper.totalPrice}} บาท</span>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-6 text-body2" align="left">
          <span>{{dataTime}}</span>
        </div>
        <div
          class="col-6 text-body1 text-bold"
          align="right"
          v-if="dataShowAll.ticketThreeUpper.data.length > 1"
        >
          <span>หน้าที่ {{index + 1}}</span>
        </div>
      </div>
    </div>

    <!-- SECTION  Ticket Three Lower -->
    <div
      size="A4"
      class="printMe q-px-md q-py-xs"
      v-for="(item,index) in dataShowAll.ticketThreeLower.data"
      :key="index"
    >
      <div align="center" class="q-pa-xs">
        <div>
          <span class="text-h5">
            <u>{{dataShowAll.ticketThreeLower.titleName}}</u>
          </span>
        </div>
      </div>
      <hr />
      <div class="row q-px-lg">
        <div class="col-2 text-subtitle1 text-bold" v-for="(item2,index2) in item" :key="index2">
          <span>{{item2.ticketNumber}} = {{item2.price}}</span>
        </div>
      </div>
      <hr v-if="index + 1 == ticketThreeLowerLength" />
      <div class="row" v-if="index + 1 == ticketThreeLowerLength">
        <div class="col-9 q-pr-lg text-body1" align="right" style="border-right:1px solid#000;">
          <u>
            <i>
              <span class="text-bold">ยอดรวมทั้งหมด</span>
            </i>
          </u>
        </div>
        <div class="col-3 q-pl-lg text-body1">
          <span class="text-bold">{{dataShowAll.ticketThreeLower.totalPrice}} บาท</span>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-6 text-body2" align="left">
          <span>{{dataTime}}</span>
        </div>
        <div
          class="col-6 text-body1 text-bold"
          align="right"
          v-if="dataShowAll.ticketThreeLower.data.length > 1"
        >
          <span>หน้าที่ {{index + 1}}</span>
        </div>
      </div>
    </div>

    <!-- SECTION  Ticket Three Toot -->
    <div
      size="A4"
      class="printMe q-px-md q-py-xs"
      v-for="(item,index) in dataShowAll.ticketThreeToot.data"
      :key="index"
    >
      <div align="center" class="q-pa-xs">
        <div>
          <span class="text-h5">
            <u>{{dataShowAll.ticketThreeToot.titleName}}</u>
          </span>
        </div>
      </div>
      <hr />
      <div class="row q-px-lg">
        <div class="col-2 text-subtitle1 text-bold" v-for="(item2,index2) in item" :key="index2">
          <span>{{item2.ticketNumber}} = {{item2.price}}</span>
        </div>
      </div>
      <hr v-if="index + 1 == ticketThreeTootLength" />
      <div class="row" v-if="index + 1 == ticketThreeTootLength">
        <div class="col-9 q-pr-lg text-body1" align="right" style="border-right:1px solid#000;">
          <u>
            <i>
              <span class="text-bold">ยอดรวมทั้งหมด</span>
            </i>
          </u>
        </div>
        <div class="col-3 q-pl-lg text-body1">
          <span class="text-bold">{{dataShowAll.ticketThreeToot.totalPrice}} บาท</span>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-6 text-body2" align="left">
          <span>{{dataTime}}</span>
        </div>
        <div
          class="col-6 text-body1 text-bold"
          align="right"
          v-if="dataShowAll.ticketThreeToot.data.length > 1"
        >
          <span>หน้าที่ {{index + 1}}</span>
        </div>
      </div>
    </div>

    <!-- NOTE End Print -->
  </div>
</template>

<script>
import { db } from "../router/index.js";
export default {
  data() {
    return {
      titleName: "",
      dataTime: "",
      dataShowAll: {
        ticketRunTwoUpper: {
          titleName: "วิ่ง 2 ตัวบน",
          data: [],
          totalPrice: 0
        },
        ticketRunTwoLower: {
          titleName: "วิ่ง 2 ตัวล่าง",
          data: [],
          totalPrice: 0
        },
        ticketRunThree: {
          titleName: "วิ่ง 3 ตัว",
          data: [],
          totalPrice: 0
        },
        ticketTwoUpper: {
          titleName: "2 ตัวบน",
          data: [],
          totalPrice: 0
        },
        ticketTwoLower: {
          titleName: "2 ตัวล่าง",
          data: [],
          totalPrice: 0
        },
        ticketThreeUpper: {
          titleName: "3 ตัวบน",
          data: [],
          totalPrice: 0
        },
        ticketThreeLower: {
          titleName: "3 ตัวล่าง",
          data: [],
          totalPrice: 0
        },
        ticketThreeToot: {
          titleName: "3 ตัวโต๊ด",
          data: [],
          totalPrice: 0
        }
      },
      ticketRunTwoUpperLength: 0,
      ticketRunTwoLowerLength: 0,
      ticketRunThreeLength: 0,
      ticketTwoUpperLength: 0,
      ticketTwoLowerLength: 0,
      ticketThreeUpperLength: 0,
      ticketThreeLowerLength: 0,
      ticketThreeTootLength: 0,
      isDataAll: false
    };
  },
  methods: {
    printBtn() {
      window.print();
    },
    loadTicketdata() {
      this.loadingShow();

      db.collection("Ticketsdraft")
        .get()
        .then(result => {
          let ticketRunTwoUpper = [];
          let ticketRunTwoLower = [];
          let ticketRunThree = [];
          let ticketTwoUpper = [];
          let ticketTwoLower = [];
          let ticketThreeUpper = [];
          let ticketThreeLower = [];
          let ticketThreeToot = [];
          if (result.size > 0) {
            this.isDataAll = true;
            result.forEach(getData => {
              if (getData.exists) {
                // NOTE ดึงข้อมูลทั้งหมด Type = All
                if (this.$route.params.type == "all") {
                  if (getData.data().ticketType == "วิ่งสองตัวบน") {
                    ticketRunTwoUpper.push(getData.data());

                    ticketRunTwoUpper.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketRunTwoUpper.totalPrice += Number(
                      getData.data().price
                    );
                  }

                  if (getData.data().ticketType == "วิ่งสองตัวล่าง") {
                    ticketRunTwoLower.push(getData.data());

                    ticketRunTwoLower.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketRunTwoLower.totalPrice += Number(
                      getData.data().price
                    );
                  }

                  if (getData.data().ticketType == "วิ่งสามตัว") {
                    ticketRunThree.push(getData.data());

                    ticketRunThree.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketRunThree.totalPrice += Number(
                      getData.data().price
                    );
                  }

                  if (getData.data().ticketType == "สองตัวบน") {
                    ticketTwoUpper.push(getData.data());

                    ticketTwoUpper.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketTwoUpper.totalPrice += Number(
                      getData.data().price
                    );
                  }

                  if (getData.data().ticketType == "สองตัวล่าง") {
                    ticketTwoLower.push(getData.data());

                    ticketTwoLower.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketTwoLower.totalPrice += Number(
                      getData.data().price
                    );
                  }

                  if (getData.data().ticketType == "สามตัวบน") {
                    ticketThreeUpper.push(getData.data());

                    ticketThreeUpper.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketThreeUpper.totalPrice += Number(
                      getData.data().price
                    );
                  }

                  if (getData.data().ticketType == "สามตัวล่าง") {
                    ticketThreeLower.push(getData.data());

                    ticketThreeLower.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketThreeLower.totalPrice += Number(
                      getData.data().price
                    );
                  }

                  if (getData.data().ticketType == "สามตัวโต๊ด") {
                    ticketThreeToot.push(getData.data());

                    ticketThreeToot.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketThreeToot.totalPrice += Number(
                      getData.data().price
                    );
                  }
                }

                // NOTE ดังข้องมูลหวยบน Type = one All
                if (this.$route.params.type == "oneAll") {
                  if (getData.data().ticketType == "วิ่งสองตัวบน") {
                    ticketRunTwoUpper.push(getData.data());

                    ticketRunTwoUpper.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketRunTwoUpper.totalPrice += Number(
                      getData.data().price
                    );
                  }

                  if (getData.data().ticketType == "สองตัวบน") {
                    ticketTwoUpper.push(getData.data());

                    ticketTwoUpper.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketTwoUpper.totalPrice += Number(
                      getData.data().price
                    );
                  }

                  if (getData.data().ticketType == "สามตัวบน") {
                    ticketThreeUpper.push(getData.data());

                    ticketThreeUpper.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketThreeUpper.totalPrice += Number(
                      getData.data().price
                    );
                  }
                }

                // NOTE ดึงข้องมูลหวยบน วิ่งสองตัวบน Type = one1
                if (this.$route.params.type == "one1") {
                  if (getData.data().ticketType == "วิ่งสองตัวบน") {
                    ticketRunTwoUpper.push(getData.data());

                    ticketRunTwoUpper.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketRunTwoUpper.totalPrice += Number(
                      getData.data().price
                    );
                  }
                }

                // NOTE ดึงข้องมูลหวยบน วิ่งสองตัวบน Type = one2
                if (this.$route.params.type == "one2") {
                  if (getData.data().ticketType == "สองตัวบน") {
                    ticketTwoUpper.push(getData.data());

                    ticketTwoUpper.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketTwoUpper.totalPrice += Number(
                      getData.data().price
                    );
                  }
                }

                // NOTE ดึงข้องมูลหวยบน วิ่งสองตัวบน Type = one3
                if (this.$route.params.type == "one3") {
                  if (getData.data().ticketType == "สามตัวบน") {
                    ticketThreeUpper.push(getData.data());

                    ticketThreeUpper.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketThreeUpper.totalPrice += Number(
                      getData.data().price
                    );
                  }
                }

                // NOTE ดังข้องมูลหวยบน Type = Two All
                if (this.$route.params.type == "twoAll") {
                  if (getData.data().ticketType == "วิ่งสองตัวล่าง") {
                    ticketRunTwoLower.push(getData.data());

                    ticketRunTwoLower.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketRunTwoLower.totalPrice += Number(
                      getData.data().price
                    );
                  }

                  if (getData.data().ticketType == "สองตัวล่าง") {
                    ticketTwoLower.push(getData.data());

                    ticketTwoLower.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketTwoLower.totalPrice += Number(
                      getData.data().price
                    );
                  }

                  if (getData.data().ticketType == "สามตัวล่าง") {
                    ticketThreeLower.push(getData.data());

                    ticketThreeLower.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketThreeLower.totalPrice += Number(
                      getData.data().price
                    );
                  }
                }

                // NOTE ดึงข้องมูลหวยบน วิ่งสองตัวบน Type = two1
                if (this.$route.params.type == "two1") {
                  if (getData.data().ticketType == "วิ่งสองตัวล่าง") {
                    ticketRunTwoLower.push(getData.data());

                    ticketRunTwoLower.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketRunTwoLower.totalPrice += Number(
                      getData.data().price
                    );
                  }
                }

                // NOTE ดึงข้องมูลหวยบน วิ่งสองตัวบน Type = two2
                if (this.$route.params.type == "two2") {
                  if (getData.data().ticketType == "สองตัวล่าง") {
                    ticketTwoLower.push(getData.data());

                    ticketTwoLower.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketTwoLower.totalPrice += Number(
                      getData.data().price
                    );
                  }
                }

                // NOTE ดึงข้องมูลหวยบน วิ่งสองตัวบน Type = two3
                if (this.$route.params.type == "two3") {
                  if (getData.data().ticketType == "สามตัวล่าง") {
                    ticketThreeLower.push(getData.data());

                    ticketThreeLower.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketThreeLower.totalPrice += Number(
                      getData.data().price
                    );
                  }
                }

                // NOTE ดังข้องมูลหวยบน Type = three All
                if (this.$route.params.type == "threeAll") {
                  if (getData.data().ticketType == "วิ่งสามตัว") {
                    ticketRunThree.push(getData.data());

                    ticketRunThree.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketRunThree.totalPrice += Number(
                      getData.data().price
                    );
                  }

                  if (getData.data().ticketType == "สามตัวโต๊ด") {
                    ticketThreeToot.push(getData.data());

                    ticketThreeToot.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketThreeToot.totalPrice += Number(
                      getData.data().price
                    );
                  }
                }

                // NOTE ดึงข้องมูลหวยบน วิ่งสองตัวบน Type = three1
                if (this.$route.params.type == "three1") {
                  if (getData.data().ticketType == "วิ่งสามตัว") {
                    ticketRunThree.push(getData.data());

                    ticketRunThree.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketRunThree.totalPrice += Number(
                      getData.data().price
                    );
                  }
                }

                // NOTE ดึงข้องมูลหวยบน วิ่งสองตัวบน Type = three2
                if (this.$route.params.type == "three2") {
                  if (getData.data().ticketType == "สามตัวโต๊ด") {
                    ticketThreeToot.push(getData.data());

                    ticketThreeToot.sort((a, b) => {
                      return Number(a.ticketNumber) - Number(b.ticketNumber);
                    });

                    this.dataShowAll.ticketThreeToot.totalPrice += Number(
                      getData.data().price
                    );
                  }
                }
              }
            });

            // -------------------------- SECTION Save to Array --------------------------
            // NOTE วิ่ง 2 ตัวบน
            if (ticketRunTwoUpper.length > 0) {
              let duplicateNumber = "";
              let newArray = [];
              let newPrice = {
                price: 0
              };

              for (let i = 0; i < ticketRunTwoUpper.length; i++) {
                if (duplicateNumber == ticketRunTwoUpper[i].ticketNumber) {
                  for (let x = 0; x < newArray.length; x++) {
                    if (
                      newArray[x].ticketNumber ==
                      ticketRunTwoUpper[i].ticketNumber
                    ) {
                      let oldPrice = Number(newArray[x].price);
                      let newPrice =
                        oldPrice + Number(ticketRunTwoUpper[i].price);

                      let sumNewPrice = newPrice.toString();

                      newArray[x].price = sumNewPrice;
                    }
                  }
                } else {
                  duplicateNumber = ticketRunTwoUpper[i].ticketNumber;

                  newArray.push(ticketRunTwoUpper[i]);
                }
              }

              for (let i = 0; i < newArray.length; i++) {
                let x = newArray[i].price.split(".");
                let x1 = x[0];
                let x2 = x.length > 1 ? "." + x[1] : "";
                let rgx = /(\d+)(\d{3})/;

                while (rgx.test(x1)) {
                  x1 = x1.replace(rgx, "$1" + "," + "$2");
                }

                newArray[i].price = x1 + x2;
              }

              let newNumber = Math.ceil(newArray.length / 210);
              let setFirstNumber = 0;
              let setLastNumber = 210;
              let saveNew = [];
              for (let i = 1; i <= newNumber; i++) {
                if (i) {
                  saveNew = newArray.slice(setFirstNumber, setLastNumber);
                  setFirstNumber += 210;
                  setLastNumber += 210;
                }

                this.dataShowAll.ticketRunTwoUpper.data.push(saveNew);
              }

              this.ticketRunTwoUpperLength = newNumber;

              this.dataShowAll.ticketRunTwoUpper.totalPrice = this.dataShowAll.ticketRunTwoUpper.totalPrice.toString();

              var x = this.dataShowAll.ticketRunTwoUpper.totalPrice.split(".");
              var x1 = x[0];
              var x2 = x.length > 1 ? "." + x[1] : "";
              var rgx = /(\d+)(\d{3})/;

              while (rgx.test(x1)) {
                x1 = x1.replace(rgx, "$1" + "," + "$2");
              }

              this.dataShowAll.ticketRunTwoUpper.totalPrice = x1 + x2;
            }

            // NOTE วิ่ง 2 ตัวล่าง
            if (ticketRunTwoLower.length > 0) {
              let duplicateNumber = "";
              let newArray = [];
              let newPrice = {
                price: 0
              };

              for (let i = 0; i < ticketRunTwoLower.length; i++) {
                if (duplicateNumber == ticketRunTwoLower[i].ticketNumber) {
                  for (let x = 0; x < newArray.length; x++) {
                    if (
                      newArray[x].ticketNumber ==
                      ticketRunTwoLower[i].ticketNumber
                    ) {
                      let oldPrice = Number(newArray[x].price);
                      let newPrice =
                        oldPrice + Number(ticketRunTwoLower[i].price);

                      let sumNewPrice = newPrice.toString();

                      newArray[x].price = sumNewPrice;
                    }
                  }
                } else {
                  duplicateNumber = ticketRunTwoLower[i].ticketNumber;

                  newArray.push(ticketRunTwoLower[i]);
                }
              }

              for (let i = 0; i < newArray.length; i++) {
                let x = newArray[i].price.split(".");
                let x1 = x[0];
                let x2 = x.length > 1 ? "." + x[1] : "";
                let rgx = /(\d+)(\d{3})/;

                while (rgx.test(x1)) {
                  x1 = x1.replace(rgx, "$1" + "," + "$2");
                }

                newArray[i].price = x1 + x2;
              }

              let newNumber = Math.ceil(newArray.length / 210);
              let setFirstNumber = 0;
              let setLastNumber = 210;
              let saveNew = [];
              for (let i = 1; i <= newNumber; i++) {
                if (i) {
                  saveNew = newArray.slice(setFirstNumber, setLastNumber);
                  setFirstNumber += 210;
                  setLastNumber += 210;
                }

                this.dataShowAll.ticketRunTwoLower.data.push(saveNew);
              }

              this.ticketRunTwoLowerLength = newNumber;

              this.dataShowAll.ticketRunTwoLower.totalPrice = this.dataShowAll.ticketRunTwoLower.totalPrice.toString();

              var x = this.dataShowAll.ticketRunTwoLower.totalPrice.split(".");
              var x1 = x[0];
              var x2 = x.length > 1 ? "." + x[1] : "";
              var rgx = /(\d+)(\d{3})/;

              while (rgx.test(x1)) {
                x1 = x1.replace(rgx, "$1" + "," + "$2");
              }

              this.dataShowAll.ticketRunTwoLower.totalPrice = x1 + x2;
            }

            // NOTE วิ่งสามตัว
            if (ticketRunThree.length > 0) {
              let duplicateNumber = "";
              let newArray = [];
              let newPrice = {
                price: 0
              };

              for (let i = 0; i < ticketRunThree.length; i++) {
                if (duplicateNumber == ticketRunThree[i].ticketNumber) {
                  for (let x = 0; x < newArray.length; x++) {
                    if (
                      newArray[x].ticketNumber == ticketRunThree[i].ticketNumber
                    ) {
                      let oldPrice = Number(newArray[x].price);
                      let newPrice = oldPrice + Number(ticketRunThree[i].price);

                      let sumNewPrice = newPrice.toString();

                      newArray[x].price = sumNewPrice;
                    }
                  }
                } else {
                  duplicateNumber = ticketRunThree[i].ticketNumber;

                  newArray.push(ticketRunThree[i]);
                }
              }

              for (let i = 0; i < newArray.length; i++) {
                let x = newArray[i].price.split(".");
                let x1 = x[0];
                let x2 = x.length > 1 ? "." + x[1] : "";
                let rgx = /(\d+)(\d{3})/;

                while (rgx.test(x1)) {
                  x1 = x1.replace(rgx, "$1" + "," + "$2");
                }

                newArray[i].price = x1 + x2;
              }

              let newNumber = Math.ceil(newArray.length / 210);
              let setFirstNumber = 0;
              let setLastNumber = 210;
              let saveNew = [];
              for (let i = 1; i <= newNumber; i++) {
                if (i) {
                  saveNew = newArray.slice(setFirstNumber, setLastNumber);
                  setFirstNumber += 210;
                  setLastNumber += 210;
                }

                this.dataShowAll.ticketRunThree.data.push(saveNew);
              }

              this.ticketRunThreeLength = newNumber;

              this.dataShowAll.ticketRunThree.totalPrice = this.dataShowAll.ticketRunThree.totalPrice.toString();

              var x = this.dataShowAll.ticketRunThree.totalPrice.split(".");
              var x1 = x[0];
              var x2 = x.length > 1 ? "." + x[1] : "";
              var rgx = /(\d+)(\d{3})/;

              while (rgx.test(x1)) {
                x1 = x1.replace(rgx, "$1" + "," + "$2");
              }

              this.dataShowAll.ticketRunThree.totalPrice = x1 + x2;
            }

            // NOTE  2 ตัวบน
            if (ticketTwoUpper.length > 0) {
              let duplicateNumber = "";
              let newArray = [];
              let newPrice = {
                price: 0
              };

              for (let i = 0; i < ticketTwoUpper.length; i++) {
                if (duplicateNumber == ticketTwoUpper[i].ticketNumber) {
                  for (let x = 0; x < newArray.length; x++) {
                    if (
                      newArray[x].ticketNumber == ticketTwoUpper[i].ticketNumber
                    ) {
                      let oldPrice = Number(newArray[x].price);
                      let newPrice = oldPrice + Number(ticketTwoUpper[i].price);

                      let sumNewPrice = newPrice.toString();

                      newArray[x].price = sumNewPrice;
                    }
                  }
                } else {
                  duplicateNumber = ticketTwoUpper[i].ticketNumber;

                  newArray.push(ticketTwoUpper[i]);
                }
              }

              for (let i = 0; i < newArray.length; i++) {
                let x = newArray[i].price.split(".");
                let x1 = x[0];
                let x2 = x.length > 1 ? "." + x[1] : "";
                let rgx = /(\d+)(\d{3})/;

                while (rgx.test(x1)) {
                  x1 = x1.replace(rgx, "$1" + "," + "$2");
                }

                newArray[i].price = x1 + x2;
              }

              let newNumber = Math.ceil(newArray.length / 210);
              let setFirstNumber = 0;
              let setLastNumber = 210;
              let saveNew = [];
              for (let i = 1; i <= newNumber; i++) {
                if (i) {
                  saveNew = newArray.slice(setFirstNumber, setLastNumber);
                  setFirstNumber += 210;
                  setLastNumber += 210;
                }

                this.dataShowAll.ticketTwoUpper.data.push(saveNew);
              }

              this.ticketTwoUpperLength = newNumber;

              this.dataShowAll.ticketTwoUpper.totalPrice = this.dataShowAll.ticketTwoUpper.totalPrice.toString();

              let x = this.dataShowAll.ticketTwoUpper.totalPrice.split(".");
              let x1 = x[0];
              let x2 = x.length > 1 ? "." + x[1] : "";
              let rgx = /(\d+)(\d{3})/;

              while (rgx.test(x1)) {
                x1 = x1.replace(rgx, "$1" + "," + "$2");
              }

              this.dataShowAll.ticketTwoUpper.totalPrice = x1 + x2;
            }

            // NOTE  2 ตัวล่าง
            if (ticketTwoLower.length > 0) {
              let duplicateNumber = "";
              let newArray = [];
              let newPrice = {
                price: 0
              };

              for (let i = 0; i < ticketTwoLower.length; i++) {
                if (duplicateNumber == ticketTwoLower[i].ticketNumber) {
                  for (let x = 0; x < newArray.length; x++) {
                    if (
                      newArray[x].ticketNumber == ticketTwoLower[i].ticketNumber
                    ) {
                      let oldPrice = Number(newArray[x].price);
                      let newPrice = oldPrice + Number(ticketTwoLower[i].price);

                      let sumNewPrice = newPrice.toString();

                      newArray[x].price = sumNewPrice;
                    }
                  }
                } else {
                  duplicateNumber = ticketTwoLower[i].ticketNumber;

                  newArray.push(ticketTwoLower[i]);
                }
              }

              for (let i = 0; i < newArray.length; i++) {
                let x = newArray[i].price.split(".");
                let x1 = x[0];
                let x2 = x.length > 1 ? "." + x[1] : "";
                let rgx = /(\d+)(\d{3})/;

                while (rgx.test(x1)) {
                  x1 = x1.replace(rgx, "$1" + "," + "$2");
                }

                newArray[i].price = x1 + x2;
              }

              let newNumber = Math.ceil(newArray.length / 210);
              let setFirstNumber = 0;
              let setLastNumber = 210;
              let saveNew = [];
              for (let i = 1; i <= newNumber; i++) {
                if (i) {
                  saveNew = newArray.slice(setFirstNumber, setLastNumber);
                  setFirstNumber += 210;
                  setLastNumber += 210;
                }

                this.dataShowAll.ticketTwoLower.data.push(saveNew);
              }

              this.ticketTwoLowerLength = newNumber;

              this.dataShowAll.ticketTwoLower.totalPrice = this.dataShowAll.ticketTwoLower.totalPrice.toString();

              var x = this.dataShowAll.ticketTwoLower.totalPrice.split(".");
              var x1 = x[0];
              var x2 = x.length > 1 ? "." + x[1] : "";
              var rgx = /(\d+)(\d{3})/;

              while (rgx.test(x1)) {
                x1 = x1.replace(rgx, "$1" + "," + "$2");
              }

              this.dataShowAll.ticketTwoLower.totalPrice = x1 + x2;
            }

            // NOTE 3 ตัวบน
            if (ticketThreeUpper.length > 0) {
              let duplicateNumber = "";
              let newArray = [];
              let newPrice = {
                price: 0
              };

              for (let i = 0; i < ticketThreeUpper.length; i++) {
                if (duplicateNumber == ticketThreeUpper[i].ticketNumber) {
                  for (let x = 0; x < newArray.length; x++) {
                    if (
                      newArray[x].ticketNumber ==
                      ticketThreeUpper[i].ticketNumber
                    ) {
                      let oldPrice = Number(newArray[x].price);
                      let newPrice =
                        oldPrice + Number(ticketThreeUpper[i].price);

                      let sumNewPrice = newPrice.toString();

                      newArray[x].price = sumNewPrice;
                    }
                  }
                } else {
                  duplicateNumber = ticketThreeUpper[i].ticketNumber;

                  newArray.push(ticketThreeUpper[i]);
                }
              }

              for (let i = 0; i < newArray.length; i++) {
                let x = newArray[i].price.split(".");
                let x1 = x[0];
                let x2 = x.length > 1 ? "." + x[1] : "";
                let rgx = /(\d+)(\d{3})/;

                while (rgx.test(x1)) {
                  x1 = x1.replace(rgx, "$1" + "," + "$2");
                }

                newArray[i].price = x1 + x2;
              }

              let newNumber = Math.ceil(newArray.length / 210);
              let setFirstNumber = 0;
              let setLastNumber = 210;
              let saveNew = [];
              for (let i = 1; i <= newNumber; i++) {
                if (i) {
                  saveNew = newArray.slice(setFirstNumber, setLastNumber);
                  setFirstNumber += 210;
                  setLastNumber += 210;
                }

                this.dataShowAll.ticketThreeUpper.data.push(saveNew);
              }

              this.ticketThreeUpperLength = newNumber;

              this.dataShowAll.ticketThreeUpper.totalPrice = this.dataShowAll.ticketThreeUpper.totalPrice.toString();

              var x = this.dataShowAll.ticketThreeUpper.totalPrice.split(".");
              var x1 = x[0];
              var x2 = x.length > 1 ? "." + x[1] : "";
              var rgx = /(\d+)(\d{3})/;

              while (rgx.test(x1)) {
                x1 = x1.replace(rgx, "$1" + "," + "$2");
              }

              this.dataShowAll.ticketThreeUpper.totalPrice = x1 + x2;
            }

            // NOTE 3 ตัวล่าง
            if (ticketThreeLower.length > 0) {
              let duplicateNumber = "";
              let newArray = [];
              let newPrice = {
                price: 0
              };

              for (let i = 0; i < ticketThreeLower.length; i++) {
                if (duplicateNumber == ticketThreeLower[i].ticketNumber) {
                  for (let x = 0; x < newArray.length; x++) {
                    if (
                      newArray[x].ticketNumber ==
                      ticketThreeLower[i].ticketNumber
                    ) {
                      let oldPrice = Number(newArray[x].price);
                      let newPrice =
                        oldPrice + Number(ticketThreeLower[i].price);

                      let sumNewPrice = newPrice.toString();

                      newArray[x].price = sumNewPrice;
                    }
                  }
                } else {
                  duplicateNumber = ticketThreeLower[i].ticketNumber;

                  newArray.push(ticketThreeLower[i]);
                }
              }

              for (let i = 0; i < newArray.length; i++) {
                let x = newArray[i].price.split(".");
                let x1 = x[0];
                let x2 = x.length > 1 ? "." + x[1] : "";
                let rgx = /(\d+)(\d{3})/;

                while (rgx.test(x1)) {
                  x1 = x1.replace(rgx, "$1" + "," + "$2");
                }

                newArray[i].price = x1 + x2;
              }

              let newNumber = Math.ceil(newArray.length / 210);
              let setFirstNumber = 0;
              let setLastNumber = 210;
              let saveNew = [];
              for (let i = 1; i <= newNumber; i++) {
                if (i) {
                  saveNew = newArray.slice(setFirstNumber, setLastNumber);
                  setFirstNumber += 210;
                  setLastNumber += 210;
                }

                this.dataShowAll.ticketThreeLower.data.push(saveNew);
              }

              this.ticketThreeLowerLength = newNumber;

              this.dataShowAll.ticketThreeLower.totalPrice = this.dataShowAll.ticketThreeLower.totalPrice.toString();

              var x = this.dataShowAll.ticketThreeLower.totalPrice.split(".");
              var x1 = x[0];
              var x2 = x.length > 1 ? "." + x[1] : "";
              var rgx = /(\d+)(\d{3})/;

              while (rgx.test(x1)) {
                x1 = x1.replace(rgx, "$1" + "," + "$2");
              }

              this.dataShowAll.ticketThreeLower.totalPrice = x1 + x2;
            }

            // NOTE 3 ตัวโต๊ด
            if (ticketThreeToot.length > 0) {
              let duplicateNumber = "";
              let newArray = [];
              let newPrice = {
                price: 0
              };

              for (let i = 0; i < ticketThreeToot.length; i++) {
                if (duplicateNumber == ticketThreeToot[i].ticketNumber) {
                  for (let x = 0; x < newArray.length; x++) {
                    if (
                      newArray[x].ticketNumber ==
                      ticketThreeToot[i].ticketNumber
                    ) {
                      let oldPrice = Number(newArray[x].price);
                      let newPrice =
                        oldPrice + Number(ticketThreeToot[i].price);

                      let sumNewPrice = newPrice.toString();

                      newArray[x].price = sumNewPrice;
                    }
                  }
                } else {
                  duplicateNumber = ticketThreeToot[i].ticketNumber;

                  newArray.push(ticketThreeToot[i]);
                }
              }

              for (let i = 0; i < newArray.length; i++) {
                let x = newArray[i].price.split(".");
                let x1 = x[0];
                let x2 = x.length > 1 ? "." + x[1] : "";
                let rgx = /(\d+)(\d{3})/;

                while (rgx.test(x1)) {
                  x1 = x1.replace(rgx, "$1" + "," + "$2");
                }

                newArray[i].price = x1 + x2;
              }

              let newNumber = Math.ceil(newArray.length / 210);
              let setFirstNumber = 0;
              let setLastNumber = 210;
              let saveNew = [];
              for (let i = 1; i <= newNumber; i++) {
                if (i) {
                  saveNew = newArray.slice(setFirstNumber, setLastNumber);
                  setFirstNumber += 210;
                  setLastNumber += 210;
                }

                this.dataShowAll.ticketThreeToot.data.push(saveNew);
              }

              this.ticketThreeTootLength = newNumber;

              this.dataShowAll.ticketThreeToot.totalPrice = this.dataShowAll.ticketThreeToot.totalPrice.toString();

              var x = this.dataShowAll.ticketThreeToot.totalPrice.split(".");
              var x1 = x[0];
              var x2 = x.length > 1 ? "." + x[1] : "";
              var rgx = /(\d+)(\d{3})/;

              while (rgx.test(x1)) {
                x1 = x1.replace(rgx, "$1" + "," + "$2");
              }

              this.dataShowAll.ticketThreeToot.totalPrice = x1 + x2;
            }
          }

          this.loadingHide();
        });
    },
    srvTime() {
      var xmlHttp;
      try {
        //FF, Opera, Safari, Chrome
        xmlHttp = new XMLHttpRequest();
      } catch (err1) {
        //IE
        try {
          xmlHttp = new ActiveXObject("Msxml2.XMLHTTP");
        } catch (err2) {
          try {
            xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
          } catch (eerr3) {
            //AJAX not supported, use CPU time.
            alert("AJAX not supported");
          }
        }
      }
      xmlHttp.open("HEAD", window.location.href.toString(), false);
      xmlHttp.setRequestHeader("Content-Type", "text/html");
      xmlHttp.send("");
      return xmlHttp.getResponseHeader("Date");
    },
    loadData() {
      let st = this.srvTime();
      let date = new Date(st);

      var thday = new Array(
        "อาทิตย์",
        "จันทร์",
        "อังคาร",
        "พุธ",
        "พฤหัส",
        "ศุกร์",
        "เสาร์"
      );
      var thmonth = new Array(
        "มกราคม",
        "กุมภาพันธ์",
        "มีนาคม",
        "เมษายน",
        "พฤษภาคม",
        "มิถุนายน",
        "กรกฎาคม",
        "สิงหาคม",
        "กันยายน",
        "ตุลาคม",
        "พฤศจิกายน",
        "ธันวาคม"
      );

      this.dataTime =
        "วัน" +
        thday[date.getDay()] +
        "ที่ " +
        date.getDate() +
        " " +
        thmonth[date.getMonth()] +
        " " +
        (0 + date.getFullYear() + 543) +
        " เวลา " +
        date.getHours() +
        ":" +
        date.getMinutes() +
        " นาที";
    }
  },
  mounted() {
    this.loadData();
    this.loadTicketdata();
  }
};
</script>

<style scoped>
.bg-print {
  min-height: 100vh;
  max-height: fit-content;
  counter-reset: page;
}
.print-bar {
  width: 100%;
  min-width: max-content;
  margin-bottom: 65px;
}
.print-bar-color {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background: rgb(43, 43, 43);
  z-index: 5000;
}
.fix-btn {
  position: fixed;
  right: 0;
}
.fix-btn1 {
  position: fixed;
  right: 0;
  margin-right: 65px;
}
.printMe {
  background: white;
  display: block;
  margin: 15px auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  font-family: Pridi;
}

.printMe[size="A4"] {
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table-data {
  width: 100%;
  border-collapse: collapse;
  padding-top: 10px;
}

.brx {
  border: 1px solid#f00;
}

.q-mt-md {
  margin-top: 0px;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }
  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  size: 210mm 297mm;
}
</style>
