<template>
  <div class="q-pa-md-sm">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-xs-12 q-mb-xs-sm q-pr-md-xs">
        <div class="bg-grey-2 q-pa-md-md q-pa-xs-sm">
          <div align="center" class="q-pa-sm">
            <span class="text-h5">เพิ่มข้อมูลหวย</span>
            <hr />
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-12 col-xs-12 q-pa-md-sm q-pa-xs-sm">
              <q-input
                label="ตัวเลข"
                :disable="!isAddMode"
                outlined
                mask="###"
                v-model="dataTicket.ticketNumber"
                square
                @keyup.enter="nextStep(0)"
                ref="tickerNumber"
              />
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 q-pa-md-sm q-pa-xs-sm">
              <!-- Length == 1 -->
              <q-input
                v-if="dataTicket.ticketNumber.length == 1 || dataTicket.ticketNumber.length == 0"
                label="วิ่งสองตัวบน (จำนวนเงิน)"
                mask="#####"
                v-model="dataPrice.priceOne"
                outlined
                square
                :disable="!isAddMode && dataPrice.priceOne == ''"
                ref="runTwoTop"
                @keyup.enter="nextStep(1)"
              />

              <!-- Length == 2 -->
              <q-input
                v-if="dataTicket.ticketNumber.length > 1 "
                label="บน (จำนวนเงิน)"
                mask="#####"
                v-model="dataPrice.priceOne"
                outlined
                square
                :disable="!isAddMode && dataPrice.priceOne == ''"
                ref="top"
                @keyup.enter="nextStep(1)"
              />
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 q-pa-md-sm q-pa-xs-sm">
              <!-- Length == 1 -->
              <q-input
                v-if="dataTicket.ticketNumber.length == 1 || dataTicket.ticketNumber.length == 0"
                label="วิ่งสองตัวล่าง (จำนวนเงิน)"
                mask="#####"
                v-model="dataPrice.priceTwo"
                outlined
                square
                :disable="!isAddMode && dataPrice.priceTwo == ''"
                ref="runTwoBottom"
                @keyup.enter="nextStep(2)"
              />

              <!-- Length == 2 -->
              <q-input
                v-if="dataTicket.ticketNumber.length > 1 "
                label="ล่าง (จำนวนเงิน)"
                mask="#####"
                v-model="dataPrice.priceTwo"
                outlined
                square
                :disable="!isAddMode && dataPrice.priceTwo == ''"
                ref="bottom"
                @keyup.enter="nextStep(2)"
              />
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 q-pa-md-sm q-pa-xs-sm">
              <!-- Length == 1 -->
              <q-input
                v-if="dataTicket.ticketNumber.length == 1 || dataTicket.ticketNumber.length == 0"
                label="วิ่งสามตัว (จำนวนเงิน)"
                v-model="dataPrice.priceThree"
                outlined
                square
                :disable="!isAddMode && dataPrice.priceThree == ''"
                ref="runThree"
                @keyup.enter="nextStep(3)"
              />

              <!-- Length == 3 -->
              <q-input
                v-if="dataTicket.ticketNumber.length == 3 "
                label="โต๊ด (จำนวนเงิน)"
                v-model="dataPrice.priceThree"
                outlined
                square
                :disable="!isAddMode && dataPrice.priceThree == ''"
                ref="toot"
                @keyup.enter="nextStep(3)"
              />
            </div>
          </div>
          <div
            class="row bg-grey-4 q-mx-sm"
            v-if="dataTicket.ticketNumber.length == 2 && dataTicket.ticketNumber[1] != dataTicket.ticketNumber[0] && isAddMode"
          >
            <div class="col-md-4 col-sm-4 col-xs-12 q-pa-md-sm q-pa-xs-sm">
              <q-input
                readonly
                borderless
                class="no-borders"
                :label="dataTicket.ticketNumber[1] + dataTicket.ticketNumber[0]"
                dense
              >
                <template v-slot:before>
                  <q-checkbox v-model="checkBackNumber" color="green" label="กลับเลข" left-label />
                </template>
              </q-input>
            </div>
          </div>
          <div
            class="row bg-grey-4 q-mx-sm"
            v-if="dataTicket.ticketNumber.length == 3  && isAddMode"
          >
            <div
              class="col-lg-2 col-md-3 col-sm-4 col-xs-6 q-pa-md-sm q-pa-xs-sm"
              v-for="(item,index) in backSix"
              :key="index"
            >
              <q-checkbox :val="item" v-model="dataBackSixList" color="green" :label="item" />
            </div>
          </div>
          <div class="row">
            <div class="col-12 q-mt-md q-mb-sm" align="center">
              <q-btn
                style="width:150px;"
                color="secondary"
                :disable="isSaveData"
                @click="saveBtn()"
              >บันทึกข้อมูล</q-btn>
            </div>
          </div>
          <hr />
        </div>

        <div class="row bg-grey-2 q-px-sm q-pb-md" v-if="$q.platform.is.desktop">
          <div class="col-12" align="center">
            <span class="text-h6">จำนวนราคา</span>
          </div>
          <div class="col-md-12 col-lg-4 col-xs-12 q-pa-xs text-white">
            <div class="q-pa-sm bg-blue-grey-9" align="center">เลขวิ่ง</div>
            <div class="q-px-sm q-pb-md border-total-price">
              <q-input v-model="dataTotalPrice.priceOne.top" suffix="บาท" readonly>
                <template v-slot:before>
                  <span class="text-body1" style="width:40px;">บน :</span>
                </template>
              </q-input>
              <q-input v-model="dataTotalPrice.priceOne.bottom" suffix="บาท" readonly>
                <template v-slot:before>
                  <span class="text-body1" style="width:40px;">ล่าง :</span>
                </template>
              </q-input>
              <q-input v-model="dataTotalPrice.priceOne.three" suffix="บาท" readonly>
                <template v-slot:before>
                  <span class="text-body1" style="width:40px;">สาม :</span>
                </template>
              </q-input>
              <q-input v-model="dataTotalPrice.priceOne.sum" suffix="บาท" readonly>
                <template v-slot:before>
                  <span class="text-body1" style="width:40px;">รวม :</span>
                </template>
              </q-input>
            </div>
          </div>
          <div class="col-md-12 col-lg-4 col-xs-12 q-pa-xs text-white">
            <div class="q-pa-sm bg-blue-grey-9" align="center">เลขสองตัว</div>
            <div class="q-px-sm q-pb-md border-total-price">
              <q-input v-model="dataTotalPrice.priceTwo.top" suffix="บาท" readonly>
                <template v-slot:before>
                  <span class="text-body1" style="width:40px;">บน :</span>
                </template>
              </q-input>
              <q-input color="red" v-model="dataTotalPrice.priceTwo.bottom" suffix="บาท" readonly>
                <template v-slot:before>
                  <span class="text-body1" style="width:40px;">ล่าง :</span>
                </template>
              </q-input>
              <q-input v-model="dataTotalPrice.priceTwo.sum" suffix="บาท" readonly>
                <template v-slot:before>
                  <span class="text-body1" style="width:40px;">รวม :</span>
                </template>
              </q-input>
            </div>
          </div>
          <div class="col-md-12 col-lg-4 col-xs-12 q-pa-xs text-white">
            <div class="q-pa-sm bg-blue-grey-9" align="center">เลขสามตัว</div>
            <div class="q-px-sm q-pb-md border-total-price">
              <q-input v-model="dataTotalPrice.priceThree.top" suffix="บาท" readonly>
                <template v-slot:before>
                  <span class="text-body1" style="width:40px;">บน :</span>
                </template>
              </q-input>
              <q-input v-model="dataTotalPrice.priceThree.bottom" suffix="บาท" readonly>
                <template v-slot:before>
                  <span class="text-body1" style="width:40px;">ล่าง :</span>
                </template>
              </q-input>
              <q-input v-model="dataTotalPrice.priceThree.toot" suffix="บาท" readonly>
                <template v-slot:before>
                  <span class="text-body1" style="width:40px;">โต๊ด :</span>
                </template>
              </q-input>
              <q-input v-model="dataTotalPrice.priceThree.sum" suffix="บาท" readonly>
                <template v-slot:before>
                  <span class="text-body1" style="width:40px;">รวม :</span>
                </template>
              </q-input>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 col-xs-12 q-pl-md-xs">
        <div class="bg-grey-2">
          <div class="row bg-white">
            <!-- <div class="col-md-10 col-xs-9">
              <q-select
                square
                outlined
                emit-value
                map-options
                :options="ticketListOptions"
                label="ข้อมูลหวย"
                class="q-pa-md"
                v-model="selectTicketOption"
                @input="selectTicket(selectTicketOption)"
              />
            </div>-->
            <div class="col-12 q-pa-md self-center" align="right">
              <q-btn icon="fas fa-trash" round color="negative" @click="deleteAll()" />
            </div>
          </div>
          <q-table
            :data="dataTicketsList"
            :columns="columns"
            :pagination.sync="paginations"
            row-key="name"
            separator="cell"
            :loading="isLoadTicket"
            square
            flat
            bordered
          >
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td :class="{'bg-grey-3':props.row.isChoose}" key="isCooose" :props="props">
                  <q-checkbox
                    :disable="isSelectTicket && !props.row.isChoose"
                    color="secondary"
                    v-model="props.row.isChoose"
                    @input="editBtn(props.row,props.row.isChoose)"
                  />
                </q-td>
                <q-td
                  :class="{'bg-secondary text-white':props.row.isChoose}"
                  key="ticketType"
                  :props="props"
                >
                  <span class="text-subtitle2">{{ props.row.ticketType }}</span>
                </q-td>
                <q-td
                  :class="{'bg-secondary text-white':props.row.isChoose}"
                  key="ticketNumber"
                  :props="props"
                >
                  <span class="text-subtitle2">{{ props.row.ticketNumber }}</span>
                </q-td>
                <q-td
                  :class="{'bg-secondary text-white':props.row.isChoose}"
                  key="price"
                  :props="props"
                >
                  <span class="text-subtitle2">{{ props.row.price }}</span>
                </q-td>
                <q-td
                  :class="{'bg-secondary text-white':props.row.isChoose}"
                  key="delete"
                  :props="props"
                >
                  <q-btn
                    v-if="!props.row.isChoose"
                    flat
                    dense
                    round
                    class="text-negative"
                    icon="fas fa-times-circle"
                    @click="deleteBtn(props.row.key)"
                  ></q-btn>
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
export default {
  data() {
    return {
      // data
      getSnapdata: "",
      dataTicketKey: "",
      dataTicket: {
        ticketNumber: ""
      },
      dataPrice: {
        priceOne: "",
        priceTwo: "",
        priceThree: ""
      },
      dataTotalPrice: {
        priceOne: {
          top: 0,
          bottom: 0,
          three: 0,
          sum: 0
        },
        priceTwo: {
          top: 0,
          bottom: 0,
          sum: 0
        },
        priceThree: {
          top: 0,
          bottom: 0,
          toot: 0,
          sum: 0
        }
      },
      checkBackNumber: false,
      dataBackSixList: [],
      dataBackSix: [],
      selectTicketOption: "ทั้งหมด",

      // Object and Array
      ticketListOptions: [
        {
          value: "ทั้งหมด",
          label: "ทั้งหมด"
        },
        {
          value: "วิ่งสองตัวบน",
          label: "วิ่งสองตัวบน"
        },
        {
          value: "วิ่งสองตัวล่าง",
          label: "วิ่งสองตัวล่าง"
        },
        {
          value: "วิ่งสามตัว",
          label: "วิ่งสามตัว"
        },
        {
          value: "สองตัวบน",
          label: "สองตัวบน"
        },
        {
          value: "สองตัวล่าง",
          label: "สองตัวล่าง"
        },
        {
          value: "สามตัวบน",
          label: "สามตัวบน"
        },
        {
          value: "สามตัวล่าง",
          label: "สามตัวล่าง"
        },
        {
          value: "สามตัวโต๊ด",
          label: "สามตัวโต๊ด"
        }
      ],
      dataTicketsList: [],
      paginations: {
        rowsPerPage: 0
      },
      columns: [
        {
          name: "isCooose",
          label: "",
          align: "center",
          style: "width:100px;"
        },
        {
          name: "ticketType",
          label: "ประเภท",
          align: "left",
          field: "ricketType"
        },
        {
          name: "ticketNumber",
          align: "center",
          label: "ตัวเลข",
          field: "ticketNumber"
        },
        {
          name: "price",
          align: "center",
          label: "ราคา",
          field: "price"
        },
        {
          name: "delete",
          align: "center",
          label: "ลบ",
          style: "width:70px;"
        }
      ],

      // is = Check true / false
      isAddMode: true,
      isSaveData: false,
      isDelete: false,
      isLoadTicket: false,
      isSelectTicket: false,
      isLength: false,
      isPrice: false,
      isPriceRun: false,

      dataTime: ""
    };
  },
  methods: {
    // Function Enter
    nextStep(step) {
      if (this.dataTicket.ticketNumber == "") {
        this.notifyRed("กรุณากรอกตัวเลข");
        return;
      }

      if (step == 0) {
        if (
          this.dataTicket.ticketNumber.length == 1 ||
          this.dataTicket.ticketNumber.length == 0
        ) {
          this.$refs.runTwoTop.focus();
        } else if (this.dataTicket.ticketNumber.length > 1) {
          this.$refs.top.focus();
        }
      } else if (step == 1) {
        if (
          this.dataTicket.ticketNumber.length == 1 ||
          this.dataTicket.ticketNumber.length == 0
        ) {
          this.$refs.runTwoBottom.focus();
        } else if (this.dataTicket.ticketNumber.length > 1) {
          this.$refs.bottom.focus();
        }
      } else if (step == 2) {
        if (
          this.dataTicket.ticketNumber.length == 1 ||
          this.dataTicket.ticketNumber.length == 0
        ) {
          this.$refs.runThree.focus();
        } else if (
          this.dataTicket.ticketNumber.length > 1 &&
          this.dataTicket.ticketNumber.length == 3
        ) {
          this.$refs.toot.focus();
        } else {
          this.saveBtn();
          this.$refs.tickerNumber.focus();
        }
      } else {
        this.saveBtn();
        this.$refs.tickerNumber.focus();
      }
    },
    deleteAll() {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "คุณต้องการลบข้อมูลทั้งหมดไช่หรือไม่",
          options: {
            type: "radio",
            model: "opt1",
            items: [
              { label: "ลบข้อมูลทั้งหมด", value: "opt1", color: "negative" },
              {
                label: "ลบและสำรองข้อมูลทั้งหมด",
                value: "opt2",
                color: "secondary"
              }
            ]
          },
          ok: "ตกลง",
          cancel: "ยกเลิก",
          persistent: true
        })
        .onOk(data => {
          if (data == "opt1") {
            this.$q
              .dialog({
                title: "ลบข้อมูล",
                message: "ยืนยันการลบข้อมูลอีกครั้ง",
                ok: "ตกลง",
                cancel: "ยกเลิก",
                persistent: true
              })
              .onOk(() => {
                this.deleteAllTicket();
              })
              .onCancel(() => {
                return;
              });
          } else if (data == "opt2") {
            this.setServer();
          } else {
            return;
          }
        })
        .onCancel(() => {
          return;
        });
    },
    async deleteAllTicket() {
      this.loadingShow("กำลังลบข้อมูล...");

      let data = await db.collection("Ticketsdraft").get();

      for (const getData of data.docs) {
        await db
          .collection("Ticketsdraft")
          .doc(getData.id)
          .delete();
      }

      this.loadingHide();
    },
    async setServer() {
      db.collection("Servers")
        .doc("data")
        .update({ draft: true });

      let data = await db.collection("Ticketsdraft").get();

      for (const getData of data.docs) {
        await db
          .collection("Ticketsserver")
          .doc(getData.id)
          .set(getData.data());

        await db
          .collection("Ticketsdraft")
          .doc(getData.id)
          .delete();
      }

      db.collection("Servers")
        .doc("data")
        .update({ draft: false });
    },
    deleteBtn(key) {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "คุณต้องการลบข้อมูลไช่หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก",
          persistent: true
        })
        .onOk(() => {
          db.collection("Ticketsdraft")
            .doc(key)
            .delete();
        })
        .onCancel(() => {
          return;
        });
    },
    editBtn(value, bool) {
      this.dataPrice = {
        priceOne: "",
        priceTwo: "",
        priceThree: ""
      };

      if (bool) {
        // ปิดปุ่มที่ไม่ได้เลือก
        this.isSelectTicket = true;

        // เปลื่ยนเป็นโหมด Edit
        this.isAddMode = false;

        // ปุ่มลบใช้งานไม่ได้
        this.isDelete = true;

        this.dataTicketKey = value.key;
        this.dataTicket = {
          ticketNumber: value.ticketNumber
        };

        if (
          value.ticketType == "วิ่งสองตัวบน" ||
          value.ticketType == "สองตัวบน" ||
          value.ticketType == "สามตัวบน"
        ) {
          this.dataPrice.priceOne = value.price;
        } else if (
          value.ticketType == "วิ่งสองตัวล่าง" ||
          value.ticketType == "สองตัวล่าง" ||
          value.ticketType == "สามตัวล่าง"
        ) {
          this.dataPrice.priceTwo = value.price;
        } else if (
          value.ticketType == "วิ่งสามตัว" ||
          value.ticketType == "สามตัวโต๊ด"
        ) {
          this.dataPrice.priceThree = value.price;
        }
      } else {
        // เปิดปุ่มให้เลือกได้
        this.isSelectTicket = false;

        // เปลื่ยนเป็นโหมด Add Mode
        this.isAddMode = true;

        // ปุ่มลบกลับมาใช้งานได้
        this.isDelete = false;

        // ลบ Key ออก
        this.dataTicketKey = "";

        // ทำให้ข้อมูลว่างเปล่าถ้า Add Mode
        this.dataTicket = {
          ticketNumber: ""
        };

        this.dataPrice = {
          priceOne: "",
          priceTwo: "",
          priceThree: ""
        };
      }
    },

    // Save Data ------------------------------------------------------------------- Save Data
    saveBtn() {
      // ไม่มีตัวเลข
      if (this.dataTicket.ticketNumber == "") {
        this.notifyRed("กรุณากรอกตัวเลข");
        return;
      }

      let st = this.srvTime();
      let date = new Date(st);

      // Add Mode
      if (this.isAddMode) {
        // Save Type One ------------- บันทึก ตัวเลข 1 ตัว
        if (this.dataTicket.ticketNumber.length == 1) {
          if (
            this.dataPrice.priceOne == "" &&
            this.dataPrice.priceTwo == "" &&
            this.dataPrice.priceThree == ""
          ) {
            this.notifyRed("กรุณากรอกจำนวนเงิน");
            return;
          }

          this.isSaveData = true;

          if (this.dataPrice.priceOne) {
            let newType = "วิ่งสองตัวบน";

            let newData = {
              ticketNumber: this.dataTicket.ticketNumber,
              ticketType: newType,
              price: this.dataPrice.priceOne,
              time: date.getTime()
            };

            db.collection("Ticketsdraft")
              .add(newData)
              .then(() => {
                this.dataTicket.ticketNumber = "";

                this.dataPrice.priceOne = "";
                this.dataPrice.priceTwo = "";
                this.dataPrice.priceThree = "";

                setTimeout(() => {
                  this.isSaveData = false;
                }, 1000);
              });
          }

          if (this.dataPrice.priceTwo) {
            let newType = "วิ่งสองตัวล่าง";

            let newData = {
              ticketNumber: this.dataTicket.ticketNumber,
              ticketType: newType,
              price: this.dataPrice.priceTwo,
              time: date.getTime()
            };

            db.collection("Ticketsdraft")
              .add(newData)
              .then(() => {
                this.dataTicket.ticketNumber = "";

                this.dataPrice.priceOne = "";
                this.dataPrice.priceTwo = "";
                this.dataPrice.priceThree = "";

                setTimeout(() => {
                  this.isSaveData = false;
                }, 1000);
              });
          }

          if (this.dataPrice.priceThree) {
            let newType = "วิ่งสามตัว";

            let newData = {
              ticketNumber: this.dataTicket.ticketNumber,
              ticketType: newType,
              price: this.dataPrice.priceThree,
              time: date.getTime()
            };

            db.collection("Ticketsdraft")
              .add(newData)
              .then(() => {
                this.dataTicket.ticketNumber = "";

                this.dataPrice.priceOne = "";
                this.dataPrice.priceTwo = "";
                this.dataPrice.priceThree = "";

                setTimeout(() => {
                  this.isSaveData = false;
                }, 1000);
              });
          }
        }

        // Save Type Two ------------- บันทึก ตัวเลข 2 ตัว
        else if (this.dataTicket.ticketNumber.length == 2) {
          if (this.dataPrice.priceOne == "" && this.dataPrice.priceTwo == "") {
            this.notifyRed("กรุณากรอกจำนวนเงิน");
            return;
          }

          this.isSaveData = true;

          if (this.dataPrice.priceOne) {
            let newType = "สองตัวบน";

            let newData = {
              ticketNumber: this.dataTicket.ticketNumber,
              ticketType: newType,
              price: this.dataPrice.priceOne,
              time: date.getTime()
            };

            db.collection("Ticketsdraft")
              .add(newData)
              .then(() => {
                this.dataTicket.ticketNumber = "";

                this.dataPrice.priceOne = "";
                this.dataPrice.priceTwo = "";
                this.dataPrice.priceThree = "";

                setTimeout(() => {
                  this.isSaveData = false;
                }, 1000);
              });
          }

          if (this.dataPrice.priceTwo) {
            let newType = "สองตัวล่าง";

            let newData = {
              ticketNumber: this.dataTicket.ticketNumber,
              ticketType: newType,
              price: this.dataPrice.priceTwo,
              time: date.getTime()
            };

            db.collection("Ticketsdraft")
              .add(newData)
              .then(() => {
                this.dataTicket.ticketNumber = "";

                this.dataPrice.priceOne = "";
                this.dataPrice.priceTwo = "";
                this.dataPrice.priceThree = "";

                setTimeout(() => {
                  this.isSaveData = false;
                }, 1000);
              });
          }

          if (this.checkBackNumber) {
            let newTicket =
              this.dataTicket.ticketNumber[1] + this.dataTicket.ticketNumber[0];

            if (this.dataPrice.priceOne) {
              let newType = "สองตัวบน";

              let newData = {
                ticketNumber: newTicket,
                ticketType: newType,
                price: this.dataPrice.priceOne,
                time: date.getTime()
              };

              db.collection("Ticketsdraft")
                .add(newData)
                .then(() => {
                  this.dataTicket.ticketNumber = "";

                  this.dataPrice.priceOne = "";
                  this.dataPrice.priceTwo = "";
                  this.dataPrice.priceThree = "";
                  this.checkBackNumber = false;

                  setTimeout(() => {
                    this.isSaveData = false;
                  }, 1000);
                });
            }

            if (this.dataPrice.priceTwo) {
              let newType = "สองตัวล่าง";

              let newData = {
                ticketNumber: newTicket,
                ticketType: newType,
                price: this.dataPrice.priceTwo,
                time: date.getTime()
              };

              db.collection("Ticketsdraft")
                .add(newData)
                .then(() => {
                  this.dataTicket.ticketNumber = "";

                  this.dataPrice.priceOne = "";
                  this.dataPrice.priceTwo = "";
                  this.dataPrice.priceThree = "";
                  this.checkBackNumber = false;

                  setTimeout(() => {
                    this.isSaveData = false;
                  }, 1000);
                });
            }
          }
        }

        // Save Type Three ------------- บันทึก ตัวเลข 3 ตัว
        else if (this.dataTicket.ticketNumber.length == 3) {
          if (
            this.dataPrice.priceOne == "" &&
            this.dataPrice.priceTwo == "" &&
            this.dataPrice.priceThree == ""
          ) {
            this.notifyRed("กรุณากรอกจำนวนเงิน");
            return;
          }

          this.isSaveData = true;

          if (this.dataPrice.priceOne) {
            let newType = "สามตัวบน";

            let newData = {
              ticketNumber: this.dataTicket.ticketNumber,
              ticketType: newType,
              price: this.dataPrice.priceOne,
              time: date.getTime()
            };

            db.collection("Ticketsdraft")
              .add(newData)
              .then(() => {
                this.dataTicket.ticketNumber = "";

                this.dataPrice.priceOne = "";
                this.dataPrice.priceTwo = "";
                this.dataPrice.priceThree = "";

                setTimeout(() => {
                  this.isSaveData = false;
                }, 1000);
              });
          }

          if (this.dataPrice.priceTwo) {
            let newType = "สามตัวล่าง";

            let newData = {
              ticketNumber: this.dataTicket.ticketNumber,
              ticketType: newType,
              price: this.dataPrice.priceTwo,
              time: date.getTime()
            };

            db.collection("Ticketsdraft")
              .add(newData)
              .then(() => {
                this.dataTicket.ticketNumber = "";

                this.dataPrice.priceOne = "";
                this.dataPrice.priceTwo = "";
                this.dataPrice.priceThree = "";

                setTimeout(() => {
                  this.isSaveData = false;
                }, 1000);
              });
          }

          if (this.dataPrice.priceThree) {
            let newType = "สามตัวโต๊ด";

            let newData = {
              ticketNumber: this.dataTicket.ticketNumber,
              ticketType: newType,
              price: this.dataPrice.priceThree,
              time: date.getTime()
            };

            db.collection("Ticketsdraft")
              .add(newData)
              .then(() => {
                this.dataTicket.ticketNumber = "";

                this.dataPrice.priceOne = "";
                this.dataPrice.priceTwo = "";
                this.dataPrice.priceThree = "";

                setTimeout(() => {
                  this.isSaveData = false;
                }, 1000);
              });
          }

          for (let i = 0; i < this.dataBackSixList.length; i++) {
            if (this.dataPrice.priceOne) {
              let newType = "สามตัวบน";

              let newData = {
                ticketNumber: this.dataBackSixList[i],
                ticketType: newType,
                price: this.dataPrice.priceOne,
                time: date.getTime()
              };

              db.collection("Ticketsdraft")
                .add(newData)
                .then(() => {
                  this.dataTicket.ticketNumber = "";
                  this.dataBackSixList = [];

                  this.dataPrice.priceOne = "";
                  this.dataPrice.priceTwo = "";
                  this.dataPrice.priceThree = "";

                  setTimeout(() => {
                    this.isSaveData = false;
                  }, 1000);
                });
            }

            if (this.dataPrice.priceTwo) {
              let newType = "สามตัวล่าง";

              let newData = {
                ticketNumber: this.dataBackSixList[i],
                ticketType: newType,
                price: this.dataPrice.priceTwo,
                time: date.getTime()
              };

              db.collection("Ticketsdraft")
                .add(newData)
                .then(() => {
                  this.dataTicket.ticketNumber = "";
                  this.dataBackSixList = [];

                  this.dataPrice.priceOne = "";
                  this.dataPrice.priceTwo = "";
                  this.dataPrice.priceThree = "";

                  setTimeout(() => {
                    this.isSaveData = false;
                  }, 1000);
                });
            }

            if (this.dataPrice.priceThree) {
              let newType = "สามตัวโต๊ด";

              let newData = {
                ticketNumber: this.dataBackSixList[i],
                ticketType: newType,
                price: this.dataPrice.priceThree,
                time: date.getTime()
              };

              db.collection("Ticketsdraft")
                .add(newData)
                .then(() => {
                  this.dataTicket.ticketNumber = "";
                  this.dataBackSixList = [];

                  this.dataPrice.priceOne = "";
                  this.dataPrice.priceTwo = "";
                  this.dataPrice.priceThree = "";

                  setTimeout(() => {
                    this.isSaveData = false;
                  }, 1000);
                });
            }
          }
        }
      }

      // Edit Mode
      else {
        let dataKey = this.dataTicketKey;

        this.isSaveData = true;

        let dataPrice = "";

        if (this.dataPrice.priceOne) {
          dataPrice = this.dataPrice.priceOne;
        } else if (this.dataPrice.priceTwo) {
          dataPrice = this.dataPrice.priceTwo;
        } else if (this.dataPrice.priceThree) {
          dataPrice = this.dataPrice.priceThree;
        }

        db.collection("Ticketsdraft")
          .doc(dataKey)
          .update({
            price: dataPrice
          })
          .then(() => {
            for (let i = 0; i < this.dataTicketsList.length; i++) {
              if (this.dataTicketsList[i].isChoose) {
                this.dataTicketsList[i].isChoose = false;
              }
            }
            this.dataTicketKey = "";

            this.isSelectTicket = false;
            this.dataTicket.ticketNumber = "";
            this.dataBackSixList = [];

            this.dataPrice.priceOne = "";
            this.dataPrice.priceTwo = "";
            this.dataPrice.priceThree = "";

            setTimeout(() => {
              this.isSaveData = false;
            }, 1000);
          });
      }

      this.notifyGreen("บันทึกเรียบร้อยแล้ว");
    },
    selectTicket(type) {
      this.getSnapdata();

      this.loadTickets(type);
    },
    loadTickets(type) {
      this.getSnapdata = db
        .collection("Ticketsdraft")
        .orderBy("time", "desc")
        .onSnapshot(doc => {
          this.isLoadTicket = true;
          this.dataTicketsList = [];

          doc.forEach(getdata => {
            let dataKey = {
              key: getdata.id,
              isChoose: false
            };

            let dataFinal = {
              ...dataKey,
              ...getdata.data()
            };

            this.dataTicketsList.push(dataFinal);
          });

          setTimeout(() => {
            this.isLoadTicket = false;
          }, 800);
        });

      // if (type == "ทั้งหมด") {
      //   this.getSnapdata = db
      //     .collection("Ticketsdraft")
      //     .orderBy("time", "desc")
      //     .onSnapshot(doc => {
      //       this.isLoadTicket = true;
      //       this.dataTicketsList = [];

      //       doc.forEach(getdata => {
      //         let dataKey = {
      //           key: getdata.id,
      //           isChoose: false
      //         };

      //         let dataFinal = {
      //           ...dataKey,
      //           ...getdata.data()
      //         };

      //         this.dataTicketsList.push(dataFinal);

      //       });

      //       setTimeout(() => {
      //         this.isLoadTicket = false;
      //       }, 800);
      //     });
      // } else {
      //   this.getSnapdata = db
      //     .collection("Ticketsdraft")
      //     .where("ticketType", "==", type)
      //     .onSnapshot(doc => {
      //       this.isLoadTicket = true;
      //       this.dataTicketsList = [];

      //       doc.forEach(getdata => {
      //         if (getdata.exists) {
      //           let dataKey = {
      //             key: getdata.id,
      //             isChoose: false
      //           };

      //           let dataFinal = {
      //             ...dataKey,
      //             ...getdata.data()
      //           };

      //           this.dataTicketsList.push(dataFinal);

      //         }
      //       });

      //       setTimeout(() => {
      //         this.isLoadTicket = false;
      //       }, 800);
      //     });
      // }
    },
    loadTotalPrice() {
      db.collection("Ticketsdraft").onSnapshot(result => {
        (this.dataTotalPrice = {
          priceOne: {
            top: 0,
            bottom: 0,
            three: 0,
            sum: 0
          },
          priceTwo: {
            top: 0,
            bottom: 0,
            sum: 0
          },
          priceThree: {
            top: 0,
            bottom: 0,
            toot: 0,
            sum: 0
          }
        }),
          result.forEach(getData => {
            let newPrice = Number(getData.data().price);

            if (getData.data().ticketType == "วิ่งสองตัวบน") {
              this.dataTotalPrice.priceOne.top += newPrice;
            } else if (getData.data().ticketType == "วิ่งสองตัวล่าง") {
              this.dataTotalPrice.priceOne.bottom += newPrice;
            } else if (getData.data().ticketType == "วิ่งสามตัว") {
              this.dataTotalPrice.priceOne.three += newPrice;
            } else if (getData.data().ticketType == "สองตัวบน") {
              this.dataTotalPrice.priceTwo.top += newPrice;
            } else if (getData.data().ticketType == "สองตัวล่าง") {
              this.dataTotalPrice.priceTwo.bottom += newPrice;
            } else if (getData.data().ticketType == "สามตัวบน") {
              this.dataTotalPrice.priceThree.top += newPrice;
            } else if (getData.data().ticketType == "สามตัวล่าง") {
              this.dataTotalPrice.priceThree.bottom += newPrice;
            } else if (getData.data().ticketType == "สามตัวโต๊ด") {
              this.dataTotalPrice.priceThree.toot += newPrice;
            }

            if (
              getData.data().ticketType == "วิ่งสองตัวบน" ||
              getData.data().ticketType == "วิ่งสองตัวล่าง" ||
              getData.data().ticketType == "วิ่งสามตัว"
            ) {
              this.dataTotalPrice.priceOne.sum += Number(getData.data().price);
            } else if (
              getData.data().ticketType == "สองตัวบน" ||
              getData.data().ticketType == "สองตัวล่าง"
            ) {
              this.dataTotalPrice.priceTwo.sum += Number(getData.data().price);
            } else if (
              getData.data().ticketType == "สามตัวบน" ||
              getData.data().ticketType == "สามตัวล่าง" ||
              getData.data().ticketType == "สามตัวโต๊ด"
            ) {
              this.dataTotalPrice.priceThree.sum += Number(
                getData.data().price
              );
            }
          });
      });
    },
    srvTime() {
      var xmlHttp;
      try {
        //FF, Opera, Safari, Chrome
        xmlHttp = new XMLHttpRequest();
      } catch (err1) {
        //IE
        try {
          xmlHttp = new ActiveXObject("Msxml2.XMLHTTP");
        } catch (err2) {
          try {
            xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
          } catch (eerr3) {
            //AJAX not supported, use CPU time.
            alert("AJAX not supported");
          }
        }
      }
      xmlHttp.open("HEAD", window.location.href.toString(), false);
      xmlHttp.setRequestHeader("Content-Type", "text/html");
      xmlHttp.send("");
      return xmlHttp.getResponseHeader("Date");
    },
    loadData() {
      let st = this.srvTime();
      let date = new Date(st);

      var thday = new Array(
        "อาทิตย์",
        "จันทร์",
        "อังคาร",
        "พุธ",
        "พฤหัส",
        "ศุกร์",
        "เสาร์"
      );
      var thmonth = new Array(
        "มกราคม",
        "กุมภาพันธ์",
        "มีนาคม",
        "เมษายน",
        "พฤษภาคม",
        "มิถุนายน",
        "กรกฎาคม",
        "สิงหาคม",
        "กันยายน",
        "ตุลาคม",
        "พฤศจิกายน",
        "ธันวาคม"
      );

      this.dataTime =
        "วัน" +
        thday[date.getDay()] +
        "ที่ " +
        date.getDate() +
        " " +
        thmonth[date.getMonth()] +
        " " +
        (0 + date.getFullYear() + 543) +
        " เวลา " +
        date.getHours() +
        ":" +
        date.getMinutes() +
        " นาที";

      console.log(date.getTime());
    }
  },
  computed: {
    backSix() {
      if (this.dataTicket.ticketNumber.length == 3) {
        let subNumber = this.dataTicket.ticketNumber.split("");

        let numberArray = [];
        let newArray = [];

        if (
          subNumber[0] != subNumber[1] &&
          subNumber[1] != subNumber[2] &&
          subNumber[0] != subNumber[2]
        ) {
          numberArray = [
            subNumber[2] + subNumber[0] + subNumber[1],
            subNumber[1] + subNumber[2] + subNumber[0],
            subNumber[0] + subNumber[2] + subNumber[1],
            subNumber[1] + subNumber[0] + subNumber[2],
            subNumber[2] + subNumber[1] + subNumber[0]
          ];

          newArray = numberArray;
        } else if (
          (subNumber[0] == subNumber[1] && subNumber[1] != subNumber[2]) ||
          (subNumber[0] != subNumber[1] && subNumber[1] == subNumber[2]) ||
          (subNumber[0] != subNumber[1] &&
            subNumber[1] != subNumber[2] &&
            subNumber[0] == subNumber[2])
        ) {
          numberArray = [
            subNumber[2] + subNumber[0] + subNumber[1],
            subNumber[1] + subNumber[2] + subNumber[0]
          ];

          newArray = numberArray;
        } else {
          newArray = [];
        }

        return newArray;
      }
    }
  },
  mounted() {
    this.loadTickets("ทั้งหมด");
    this.loadTotalPrice();
  },
  beforeDestroy() {
    this.getSnapdata();
  },
  watch: {
    dataTicket: {
      deep: true,
      handler() {
        if (this.isAddMode) {
          if (this.dataTicket.ticketNumber.length > 0) {
            this.dataPrice = {
              priceOne: "",
              priceTwo: "",
              priceThree: ""
            };
          }
        }
      }
    }
  }
};
</script>

<style scoped>
.border-total-price {
  border: 1px solid rgb(83, 83, 83);
}
</style>