// app global css

@font-face {
  font-family: prompt-r;
  src: url(../statics/fonts/Prompt-Regular.ttf);
}
@font-face {
  font-family: prompt-b;
  src: url(../statics/fonts/Prompt-Bold.ttf);
}

body{
    font-family:prompt-r;
}

.brx{
    border:1px solid#f00;
}