<template>
  <q-layout view="lHh Lpr lFf">
    <q-header class="bg-blue-grey-14 print-hide">
      <q-toolbar>
        <q-btn flat @click="drawer = !drawer" round dense icon="menu" />
        <q-toolbar-title v-if="$route.name == 'ticketmain'">ข้อมูลหวย</q-toolbar-title>
        <q-toolbar-title v-if="$route.name == 'ticketadd'">คีย์ข้อมูลหวย</q-toolbar-title>
        <q-space />
        <span>v {{appVersion}}</span>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="drawer"
      :width="300"
      :breakpoint="1280"
      bordered
      content-class="bg-grey-3"
      class="print-hide"
    >
      <q-scroll-area class="fit">
        <q-list padding>
          <router-link to="/ticket" class="me-text text-blue-grey-10">
            <q-item :active="$route.name == 'ticketmain'" clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="fas fa-server" />
              </q-item-section>

              <q-item-section>ข้อมูลหวย</q-item-section>
            </q-item>
          </router-link>
          <q-separator />

          <router-link to="/ticket/add" class="me-text text-blue-grey-10">
            <q-item :active="$route.name == 'ticketadd'" clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="fas fa-plus" />
              </q-item-section>

              <q-item-section>คีย์ข้อมูลหวย</q-item-section>
            </q-item>
          </router-link>
          <q-separator />
          <router-link to="/restore" class="me-text text-blue-grey-10">
            <q-item :active="$route.name == 'restore'" clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="fas fa-trash-restore" />
              </q-item-section>

              <q-item-section>สำรองข้อมูล</q-item-section>
            </q-item>
          </router-link>
        </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { db } from "../router/index.js";
export default {
  name: "MyLayout",
  data() {
    return {};
  },
  methods: {
    loadVersion() {
      db.collection("Versions")
        .doc("backend")
        .get()
        .then(doc => {
          if (this.appVersion != doc.data().appVersion) {
            window.location.reload(true);
          }
        });
    },
    loadServerData() {
      db.collection("Servers")
        .doc("data")
        .update({
          draft: false,
          server: false
        });

      db.collection("Servers")
        .doc("data")
        .onSnapshot(result => {
          if (result.data().draft) {
            this.loadingShow("กำลังจัดเก็บข้อมูลกรุณารอสักครู่...");
          } else if (result.data().server) {
            this.loadingShow("กำลังกู้ข้อมูลเก่ากรุณารอสักครู่...");
          } else {
            this.loadingHide();
          }
        });
    }
  },
  mounted() {
    this.loadServerData();
    this.loadVersion();
  }
};
</script>

<style scoped>
.me-text {
  text-decoration: none;
}
</style>
